docs/n8n/workflows/196DL218ldgcU92B-WIP_POST_Subject_Photos_Insert.json
{
  "name": "WIP - [POST] Subject Photos - Insert",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "input",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -160
      ],
      "id": "e8ee99d4-2ee0-4523-856a-e66679a3fdd5",
      "name": "Get Photo Folder File List",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subject-photos-insert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        -160
      ],
      "id": "1a4eda44-8b20-43d7-9e8a-3935f49d6866",
      "name": "Webhook",
      "webhookId": "8e7f34ba-4f07-4072-8a32-511f417e462a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae26dc87-58b6-48ac-8468-ff4ae326c406",
              "name": "projectFolderId",
              "value": "={{ $json.body.projectFolderId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -160
      ],
      "id": "12a5621f-0a39-4fa4-9bf6-ff02ed11e4ef",
      "name": "WH Body - Extract"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "riAFXAxXWS7tszk3",
          "mode": "list",
          "cachedResultUrl": "/workflow/riAFXAxXWS7tszk3",
          "cachedResultName": "Get Project Subfolder Ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectFolderId": "={{ $json.projectFolderId }}"
          },
          "matchingColumns": [
            "projectFolderId"
          ],
          "schema": [
            {
              "id": "projectFolderId",
              "displayName": "projectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -336,
        -160
      ],
      "id": "ba3814fa-9257-4ef3-982f-66701345bcd0",
      "name": "Call 'Get Project Subfolder Ids'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "49rRQ0xBDYlFHeBS",
          "mode": "list",
          "cachedResultUrl": "/workflow/49rRQ0xBDYlFHeBS",
          "cachedResultName": "Get Subject Photos folderId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subjectFolderId": "={{ $('Call \\'Get Project Subfolder Ids\\'').item.json.subject }}"
          },
          "matchingColumns": [
            "subjectFolderId"
          ],
          "schema": [
            {
              "id": "subjectFolderId",
              "displayName": "subjectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        -160
      ],
      "id": "aafed209-3954-43d7-a285-be79f2491f5a",
      "name": "Call 'Get Subject Photos folderId'"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        -160
      ],
      "id": "a1858440-1b42-4eef-a772-f62ec6c50412",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        528,
        -160
      ],
      "id": "587b67b1-f357-49c5-b422-6ebcd76812e9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "documentId",
              "value": "=1MCDXcuGyd3C8MCnldBLoQzU0P1I6rmwRC8rB4YvR6B4",
              "type": "string"
            },
            {
              "id": "467897d5-35c8-465b-9d90-932cc7d29c8c",
              "name": "imageFolderId",
              "value": "={{ $('Call \\'Get Subject Photos folderId\\'').item.json.id }}",
              "type": "string"
            },
            {
              "id": "fb867bc5-a197-4840-aa66-51fba8a8709c",
              "name": "imageManifest",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -160
      ],
      "id": "32f26a2d-5bdd-4b54-a35f-ad24035510e4",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbzw-Gq7WmFvuRq55EFtftrNIJe0CmJltQkDQhtJejRMlDvj4_x2g1kJ6_P58FGBRNhn/exec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=documentId",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "imageFolderId",
              "value": "={{ $json.imageFolderId }}"
            },
            {
              "name": "imageManifest",
              "value": "={{ $json.imageManifest }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        -160
      ],
      "id": "b2a118b1-2e66-46c9-a398-9a4cc323ddbb",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Get Photo Folder File List": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "WH Body - Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH Body - Extract": {
      "main": [
        [
          {
            "node": "Call 'Get Project Subfolder Ids'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Project Subfolder Ids'": {
      "main": [
        [
          {
            "node": "Call 'Get Subject Photos folderId'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Subject Photos folderId'": {
      "main": [
        [
          {
            "node": "Get Photo Folder File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dougiefreshdesigns.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "4270",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "159.118.76.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "979e4464b7abc52b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "159.118.76.37, 104.23.187.21",
            "x-forwarded-host": "dougiefreshdesigns.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-tkrcr",
            "x-is-trusted": "yes",
            "x-real-ip": "159.118.76.37"
          },
          "params": {},
          "query": {},
          "body": {
            "projectFolderId": "1sCYiOv0d09VLQpxI_xa11EIxiabVzUHh"
          },
          "webhookUrl": "https://dougiefreshdesigns.app.n8n.cloud/webhook/subject-process-photos",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}