docs/n8n/workflows/4VpYtyIyln5GJWck-_POST_Comp_Parser.json
{
  "name": "[POST] Comp Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comps-parser",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        -80
      ],
      "id": "e88b7594-3c3b-4a8a-91c7-4721e850c414",
      "name": "Webhook",
      "webhookId": "96b4ab33-45be-44d9-873f-25470829e5ec",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "projectFolderId",
              "value": "={{ $json.body.projectFolderId }}",
              "type": "string"
            },
            {
              "id": "1b9cc33b-6601-421e-abfa-ec938e73eeda",
              "name": "type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "51da0819-87f8-41b1-9eb8-dcd8978d47df",
              "name": "folderId",
              "value": "={{ $json.body.folderId }}",
              "type": "string"
            },
            {
              "id": "babcab97-51bf-4fa8-b262-321dcb3ea3b5",
              "name": "extraContext",
              "value": "={{ $json.body.extraContext }}",
              "type": "string"
            },
            {
              "id": "b3496458-f1a5-4ee5-b723-27edc45bf11d",
              "name": "prevParsedContent",
              "value": "={{ $json.body.prevParsedContent }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -80
      ],
      "id": "14ac6e9a-bdb7-4d10-860f-59c030dc6a96",
      "name": "wh body"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "riAFXAxXWS7tszk3",
          "mode": "list",
          "cachedResultUrl": "/workflow/riAFXAxXWS7tszk3",
          "cachedResultName": "Get Project Subfolder Ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectFolderId": "={{ $json.projectFolderId }}"
          },
          "matchingColumns": [
            "projectFolderId"
          ],
          "schema": [
            {
              "id": "projectFolderId",
              "displayName": "projectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1232,
        -80
      ],
      "id": "5ea171f8-689c-4d49-ae1b-105de3537aa2",
      "name": "Call 'Get Project Subfolder Ids'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GMCXPjlVI3stu0bY",
          "mode": "list",
          "cachedResultUrl": "/workflow/GMCXPjlVI3stu0bY",
          "cachedResultName": "Get comps Subfolder Ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "compsFolderId": "={{ $json.comps }}"
          },
          "matchingColumns": [
            "compsFolderId"
          ],
          "schema": [
            {
              "id": "compsFolderId",
              "displayName": "compsFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -80
      ],
      "id": "74d3a0be-76c2-4b5f-88fb-b65cc49b85f2",
      "name": "Call 'Get comps Subfolder Ids'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uLMhHA4lmqVDqJ9a",
          "mode": "list",
          "cachedResultUrl": "/workflow/uLMhHA4lmqVDqJ9a",
          "cachedResultName": "Get comps Subfolders details"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folderId": "={{ $json[$('wh body').item.json.type] }}"
          },
          "matchingColumns": [
            "folderId"
          ],
          "schema": [
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -784,
        -80
      ],
      "id": "bd6b39b8-5c13-402f-96e8-dd4b15aa0920",
      "name": "Call 'Get comps Subfolders details'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb1b7812-89d3-478e-a6fe-90af2bbfb058",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('wh body').item.json.folderId }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        -80
      ],
      "id": "79778711-ee7c-46bf-802f-bb8b0883caab",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "name",
            "mimeType",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        -80
      ],
      "id": "e267a786-1042-480b-aad6-fb7353441e5d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb1b7812-89d3-478e-a6fe-90af2bbfb058",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=parsed.json",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -64,
        -80
      ],
      "id": "84260570-66fc-459a-b92e-9b0c4a8e7bd7",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c9bf6ce-f4b6-4aff-9523-71be560ae97e",
              "leftValue": "={{ $json.files }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        -80
      ],
      "id": "dcdd194b-2b09-4e2a-9d58-5d9a15e76142",
      "name": "If"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        160,
        -80
      ],
      "id": "b71aeab4-3845-4351-9bef-5d1ff06d7851",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1296,
        16
      ],
      "id": "daf3dba0-c096-4120-a52d-c43b225a796a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "153b4709-86ea-4996-9d64-54c869de360c",
              "name": "parsed",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b15dc1f1-07fd-4500-b1f4-db8403d1de57",
              "name": "status",
              "value": "No Files",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        16
      ],
      "id": "30496290-be73-46c8-bd4f-fb02e0ed6419",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71723fe7-e4aa-4bee-ae2e-a9664a0692b5",
              "name": "parsed",
              "value": "={{ $json.content.parts[0].text.replace('```json', '').replace('```', '') }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -176
      ],
      "id": "6ae2465b-c4be-439c-92bc-ee77d7edab11",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb48cae9-19c4-4f5a-baef-e5f83984a676",
              "leftValue": "={{ $('wh body').item.json.prevParsedContent }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        -176
      ],
      "id": "86d6a3b3-eee5-4061-b2fd-31c9ac29c506",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields4').item.json.fileId }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2944,
        -480
      ],
      "id": "1c9082f5-6b0d-424e-af82-1123d99e5420",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c09a691e-4152-49e2-a6df-912998d530fd",
              "name": "files",
              "value": "={{ $json.files }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -80
      ],
      "id": "45617127-8908-4573-adee-8bd6b8f0a64b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "parsed",
        "options": {
          "fileName": "parsed.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2720,
        -480
      ],
      "id": "471f13c3-cfd1-46dd-a8bf-bc4568d80095",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Filter').item.json.id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "name",
            "mimeType",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2048,
        -480
      ],
      "id": "722e38fa-b21f-4805-b7ee-29e9138882d3",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb1b7812-89d3-478e-a6fe-90af2bbfb058",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=parsed.json",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2272,
        -480
      ],
      "id": "ceea76a0-3e9b-48ab-a292-829322e74ca6",
      "name": "Filter4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d0bfe10-5483-4895-b4d9-8f6484879eb4",
              "name": "parsed",
              "value": "={{ $('If1').item.json.parsed }}",
              "type": "object"
            },
            {
              "id": "d14da0e3-5500-480d-9444-e03b31114efc",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        -480
      ],
      "id": "8b21607a-8dae-410c-b6e0-28bdecb6a76b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"parsed\": {{ JSON.stringify($('Edit Fields4').item.json.parsed) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3168,
        -480
      ],
      "id": "f83379ff-c421-4949-ac05-83165ef98663",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"parsed\": {{ JSON.stringify($('Edit Fields1').item.json.parsed) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2368,
        -128
      ],
      "id": "366839d3-21f7-4df9-b8e5-23bb25228cee",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ JSON.stringify($json.parsed, null, 2) }}",
        "name": "parsed.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Filter').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2176,
        -128
      ],
      "id": "352a0ed2-db35-4dd4-abab-9b75ec786a10",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "text": "=### Objective\n\n\n\nYour primary goal is to act as a specialized commercial real estate data parser. You will be provided with various real estate documents\n\n(e.g., CAD reports, MLS listings, CoreLogic files, tax receipts, deeds) and specific user instructions.\n\nYour task is to accurately extract the relevant information from these documents and structure it into a JSON object according to the provided type definitions.\n\n\n\n### Core Functionality\n\n\n\n1. Parse Documents: Analyze the content of all provided documents (PDFs, text files, etc.) to extract key real estate data points.\n\n2. Adhere to JSON Structure: Format all extracted data into a single JSON object that conforms to the OutputData interface and its nested types.\n\n3. Handle Multiple Data Types:\n\n   - Subject Property: When the user identifies a property as the \"subject\", populate the subject array.\n\n   - Sale Comps:\n\n     - For properties sold with significant improvements (buildings), populate the saleData array.\n\n     - For properties sold as vacant land or where the improvements have no value, populate the landSaleData array.\n\n   - Rental Comps: When the user identifies a property as a \"rental comp\", populate the rentalData array.\n\n4. Manage Parcel Data:\n\n   - For every property processed (subject, sale, or rental), create a corresponding entry in the parcelData array. If a sale or subject involves multiple parcels, create an entry for each one.\n\n   - For every improvement (building, storage, paving, etc.) on a parcel, create a corresponding entry in the parcelImprovements array.\n\n5. Manage Tax Data:\n\n   - When a tax document is provided for a _subject property_, populate the subjectTaxes and taxEntities arrays.\n\n   - For sale or rental comps, extract the total tax amount and place it in the appropriate field (Taxes or Total Tax Amount).\n\n\n\n### Data Handling and Formatting Rules\n\n\n\n- JSON Output: Your final output must always be a single, valid JSON object contained within a code block.\n\n- Sequential Numbering: Assign a sequential number (\\#) to each entry in the saleData, landSaleData, and rentalData arrays, starting from 1 for each new report.\n\n- Clearing vs. Appending:\n\n  - If the user asks to \"start with a fresh dataset\" or \"clear the data\", your output should contain only the newly parsed information. All arrays should be reset.\n\n  - If the user asks to \"add to the dataset\" or \"preserve the data\", you must retain all existing entries in the JSON and append the new data.\n\n- Handling Null/Generated Values: If a piece of information is not available in the provided documents or is marked as GENERATED or BLANK in the type definitions, set its value to null. Do not use placeholder strings like \"N/A\" or \"GENERATED\".\n\n- Calculated Fields:\n\n  - Land Size (SF): If Land Size (AC) is available, calculate the square footage (1 acre \\= 43,560 SF).\n\n  - Land / Bld Ratio: For subject properties, calculate this as Land Size (SF) / Building Size (SF).\n\n  - Age: For subject properties, calculate this as Current Year \\- Year Built.\n\n- Specific Improvement Rules:\n\n  - Parking: Always include parking improvements (paved lots, asphalt, etc.) in parcelImprovements. Set Is GLA to false.\n\n  - Canopies/Awnings: Do not include entries for canopies, carports, or awnings in the parcelImprovements array unless specifically instructed to do so. If you are instructed to add them, set Is GLA to false.\n\n- User-Provided Data: Always prioritize data explicitly provided by the user in their prompt (e.g., \"sale price: 100,000\", \"land size: .41 acres\") over data found in the documents. Note the source of this data in the Comments field.\n\n- Combining Parcels: If the user instructs you to combine multiple parcels into a single entry (e.g., for a subject property), you must:\n\n  - Sum numerical values like Land Size, Building Size, Parking (SF), and Total Taxes.\n\n  - Concatenate string values like APN (e.g., \"APN1 & APN2\") and Legal.\n\n  - Update the parcelData and parcelImprovements arrays to reflect the combined structure.\n\nDO NOT HULLUCINATE / MAKE UP DATA. USE THE DOCUMENTS FOR REFERENCE AND IF DOCUMENTS ARE NOT AVAILABLE / ACCESSIBLE, DO NOT CONTINUE, STOP AND RETURN AN EMPTY OBJECT\n\n\n\n### Type definitions\n\n\n\n```\n\n// --- UTILITY TYPES ---\n\ntype Generated = 'GENERATED' | 'BLANK' | null;\n\ntype Condition = 'Good' | 'Average' | 'Fair' | 'Poor';\n\ntype YesNoUnknown = boolean | null;\n\n\n\n// --- ENUMERATED TYPES ---\n\ntype UseType = 'Sale' | 'Extra' | 'Rental';\n\ntype SubjectParcelType = 'Improvements' | 'Excess Land';\n\ntype ZoningLocation =\n\n  | 'Inside City Limits'\n\n  | 'Inside & Outside City Limits'\n\n  | 'Inside ETJ'\n\n  | 'Outside ETJ'\n\n  | 'None';\n\ntype ExpenceStructure = 'NNN' | 'NN' | 'N' | 'None';\n\ntype TenantStructure = 'Individual' | 'Multiple';\n\ntype VerificationType =\n\n  | 'Appraiser'\n\n  | 'Broker'\n\n  | 'Realtor'\n\n  | 'Crexi'\n\n  | 'MLS/CAD/Deeds'\n\n  | 'Other'\n\n  | 'Buyer'\n\n  | 'Seller'\n\n  | 'Owner';\n\ntype UtilsWater = 'Public' | 'Well' | 'None';\n\ntype UtilsSewer = 'Public' | 'Septic' | 'None';\n\ntype LandSurface = 'Cleared' | 'Caliche' | 'Raw';\n\ntype HvacOptions = 'Yes' | 'Office Only' | 'No';\n\n\n\n// --- MAIN OUTPUT STRUCTURE ---\n\ninterface OutputData {\n\n  landSaleData: LandSaleData[];\n\n  saleData: SaleData[];\n\n  rentalData: RentalData[];\n\n  parcelData: ParcelData[];\n\n  parcelImprovements: ParcelImprovement[];\n\n  subject: SubjectData[];\n\n  subjectTaxes: SubjectTax[];\n\n  taxEntities: TaxEntity[];\n\n}\n\n\n\n// --- DATA INTERFACES ---\n\ninterface LandSaleData {\n\n  '#': number;\n\n  Address: string;\n\n  'Use Type': UseType;\n\n  Grantor: string;\n\n  Grantee: string;\n\n  Recording: string;\n\n  'Date of Sale': string;\n\n  'Market Conditions': Generated;\n\n  'Sale Price': string;\n\n  'Financing Terms': string;\n\n  'Property Rights': string;\n\n  'Conditions of Sale': string;\n\n  'Sale Price / AC': Generated;\n\n  'Sale Price / SF': Generated;\n\n  'Land Size (AC)': number | null;\n\n  'Land Size (SF)': number | null;\n\n  APN: string | null;\n\n  Legal: string | null;\n\n  Corner: boolean;\n\n  'Highway Frontage': boolean;\n\n  'Utils - Electricity': YesNoUnknown;\n\n  'Utils - Water': UtilsWater | null;\n\n  'Utils - Sewer': UtilsSewer | null;\n\n  Surface: LandSurface | null;\n\n  'Zoning Location': string;\n\n  'Zoning Description': string;\n\n  Zoning: string | null;\n\n  Taxes: number | null;\n\n  'MLS #': string | null;\n\n  'Verification Type': VerificationType | null;\n\n  'Verified By': string | null;\n\n  Verification: Generated;\n\n  Comments: string | null;\n\n}\n\n\n\ninterface SaleData {\n\n  '#': number;\n\n  Address: string;\n\n  'Use Type': UseType;\n\n  Grantor: string;\n\n  Grantee: string;\n\n  Recording: string;\n\n  'Date of Sale': string;\n\n  'Market Conditions': Generated;\n\n  'Sale Price': string;\n\n  'Financing Terms': string;\n\n  'Property Rights': string;\n\n  'Conditions of Sale': string;\n\n  'Sale Price / SF': Generated;\n\n  'Improvements / SF': Generated;\n\n  'Land Size (AC)': number | null;\n\n  'Land Size (SF)': number | null;\n\n  'Land Value': number | null;\n\n  APN: string | null;\n\n  Legal: string | null;\n\n  'Building Size (SF)': number | null;\n\n  'Occupancy %': string | null;\n\n  'Land / Bld Ratio': number | null;\n\n  'Property Type': string | null;\n\n  Construction: string | null;\n\n  'Other Features': string | null;\n\n  'Parking (SF)': number | null;\n\n  Buildings: number | null;\n\n  'Year Built': number | string | null;\n\n  'Effective Age': Generated;\n\n  Condition: Condition | null;\n\n  HVAC: HvacOptions;\n\n  'Overhead Doors': string | null; // if size is known, put in the format of WxH (xQuantity). Ex: 14x12 (x6)\n\n  'Wash Bay': YesNoUnknown;\n\n  Hoisting: string | null; // None, Unknown, xT (where x is the tonage of the crane). if there are multiple cranes, list all of them. Ex: 2T (x2),5T (x3)\n\n  'Zoning Location': string;\n\n  'Zoning Description': string;\n\n  Zoning: string | null;\n\n  'Rent / SF': Generated;\n\n  'Potential Gross Income': Generated;\n\n  'Vacancy %': string;\n\n  Vacancy: string | null;\n\n  'Effective Gross Income': string | null;\n\n  Taxes: string | null;\n\n  Insurance: string | null;\n\n  Expenses: string | null;\n\n  'Net Operating Income': string | null;\n\n  'Overall Cap Rate': string | null;\n\n  GPI: string | null;\n\n  'Gross Income Multiplier': number | null;\n\n  'Potential Value': string | null;\n\n  'MLS #': string | null;\n\n  'Verification Type': VerificationType | null;\n\n  'Verified By': string | null;\n\n  Verification: Generated;\n\n  Comments: string | null;\n\n}\n\n\n\ninterface RentalData {\n\n  '#': number;\n\n  Address: string;\n\n  'Use Type': string;\n\n  Lessor: string;\n\n  Tenant: string | null;\n\n  Recording: string | null;\n\n  APN: string | null;\n\n  Legal: string | null;\n\n  'Zoning Location': ZoningLocation;\n\n  'Zoning Description': string;\n\n  Zoning: string | null;\n\n  'Land Size (AC)': number | null;\n\n  'Land Size (SF)': number | null;\n\n  'Rentable SF': number | null;\n\n  'Office %': Generated;\n\n  'Land / Bld Ratio': number | null;\n\n  'Occupancy %': string;\n\n  'Property Type': string;\n\n  'Lease Start': string | null;\n\n  'Rent / Month Start': number;\n\n  'Lease Term': string | null;\n\n  '% Increase / Year': number;\n\n  'Rent / Month': number | null;\n\n  'Expense Structure': ExpenceStructure;\n\n  'Rent / SF / Year': Generated;\n\n  'Tenant Structure': TenantStructure;\n\n  'Year Built': number | null;\n\n  Age: number | null;\n\n  'Effective Age': Generated;\n\n  Condition: Condition;\n\n  HVAC: HvacOptions;\n\n  'Overhead Doors': string | null; // if size is known, put in the format of WxH (xQuantity). Ex: 14x12 (x6)\n\n  'Wash Bay': YesNoUnknown;\n\n  Hoisting: string | null; // None, Unknown, xT (where x is the tonage of the crane). if there are multiple cranes, list all of them. Ex: 2T (x2),5T (x3)\n\n  Construction: string | null;\n\n  'Other Features': string;\n\n  'MLS #': string | null;\n\n  'Verification Type': VerificationType | null;\n\n  'Verified By': string | null;\n\n  Verification: Generated;\n\n  Comments: string;\n\n}\n\n\n\ninterface SubjectData {\n\n  Address: string;\n\n  Type: SubjectParcelType;\n\n  APN: string | null;\n\n  Legal: string | null;\n\n  'Property Rights': string;\n\n  instrumentNumber: string | null;\n\n  'Date of Sale': string; // always \"Current\" for subject\n\n  'Market Conditions': Generated;\n\n  'Land Size (AC)': number | null;\n\n  'Land Size (SF)': number | null;\n\n  'Parking (SF)': number | null;\n\n  'Building Size (SF)': number | null;\n\n  'Office Area (SF)': Generated;\n\n  'Warehouse Area (SF)': Generated;\n\n  'Office %': Generated;\n\n  'Land / Bld Ratio': number | null;\n\n  'Total Taxes': number | null;\n\n  City: string;\n\n  State: string;\n\n  County: string;\n\n  Zip: string;\n\n  AddressLabel: Generated;\n\n  AddressLocal: Generated;\n\n  'Zoning Area': string;\n\n  'Zoning Description': string;\n\n  Zoning: string | null;\n\n  'Other Features': string | null;\n\n  Hoisting: YesNoUnknown;\n\n  'Wash Bay': YesNoUnknown;\n\n  Corner: boolean;\n\n  'Highway Frontage': boolean;\n\n  'Utils - Electricity': YesNoUnknown;\n\n  'Utils - Water': UtilsWater | null;\n\n  'Utils - Sewer': UtilsSewer | null;\n\n  Surface: LandSurface | null;\n\n  Construction: string | null;\n\n  Condition: Condition;\n\n  'Year Built': number | null;\n\n  Age: number | null;\n\n  'Effective Age': Generated;\n\n  'Est Insurance': number | null;\n\n  'Est Expences': number | null;\n\n}\n\n\n\ninterface ParcelData {\n\n  instrumentNumber: string | null;\n\n  APN: string;\n\n  'APN Link': string;\n\n  Location: string;\n\n  Legal: string;\n\n  'Lot #': string | null;\n\n  'Size (AC)': number | null;\n\n  'Size (SF)': number | null;\n\n  'Building Size (SF)': number | null;\n\n  'Parking (SF)': number | null;\n\n  'Storage Area (SF)': number | null;\n\n  Buildings: number | null;\n\n  'Total Tax Amount': string | null;\n\n  'County Appraised Value'?: string;\n\n}\n\n\n\ninterface ParcelImprovement {\n\n  instrumentNumber: string | null;\n\n  APN: string;\n\n  'Building #': number;\n\n  'Section #': number;\n\n  'Year Built': number | null;\n\n  'Gross Building Area (SF)': number | null;\n\n  'Office Area (SF)': number | null;\n\n  'Warehouse Area (SF)': number | null;\n\n  'Parking (SF)': number | null;\n\n  'Storage Area (SF)': number | null;\n\n  'Is GLA': boolean;\n\n  Construction: string;\n\n  Comments: string | null;\n\n}\n\n\n\ninterface SubjectTax {\n\n  Entity: string;\n\n  Amount: number;\n\n}\n\n\n\ninterface TaxEntity {\n\n  Entity: string;\n\n  Rate: number;\n\n}\n\n\n\n```\n\n## Sale to parse\n\n* type: {{ $('wh body').item.json.type }}\n* extra context: {{ $('wh body').item.json.extraContext }}\n\n### Documents to For Sale (uploaded to Gemini)\n{{ JSON.stringify($json.geminiFileUrls, null, 2) }}\n\n### Previously Parsed Result\n\nIf there is any previously parsed results below, analyze the documents and use the extra context provided to improved the previously parsed results to generate a better dataset\n\nPreviously Parsed json data below: \n\n```json\n{{ $if($('wh body').item.json.prevParsedContent, JSON.stringify($('wh body').item.json.prevParsedContent, null, 2), \"N/A\") }}\n```",
        "documentUrls": "={{ $json.geminiFileUrls.map(item => item.fileUri).join(',') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        -176
      ],
      "id": "bd307855-c645-470d-9f5e-5758b20b73a9",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "72f1yYOIUOwDmWkY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O85AtthwxBt4PRSe",
          "mode": "list",
          "cachedResultUrl": "/workflow/O85AtthwxBt4PRSe",
          "cachedResultName": "[sub] upload files to gemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "files": "={{ $json.files }}"
          },
          "matchingColumns": [
            "files"
          ],
          "schema": [
            {
              "id": "files",
              "displayName": "files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1008,
        -240
      ],
      "name": "Call [sub] upload files to gemini",
      "id": "09b7dbb9-9cd5-4c55-a0b8-309aac062b72"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "wh body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wh body": {
      "main": [
        [
          {
            "node": "Call 'Get Project Subfolder Ids'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Project Subfolder Ids'": {
      "main": [
        [
          {
            "node": "Call 'Get comps Subfolder Ids'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get comps Subfolder Ids'": {
      "main": [
        [
          {
            "node": "Call 'Get comps Subfolders details'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get comps Subfolders details'": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call [sub] upload files to gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call [sub] upload files to gemini": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dougiefreshdesigns.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "4270",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "159.118.76.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "979e4464b7abc52b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "159.118.76.37, 104.23.187.21",
            "x-forwarded-host": "dougiefreshdesigns.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-tkrcr",
            "x-is-trusted": "yes",
            "x-real-ip": "159.118.76.37"
          },
          "params": {},
          "query": {},
          "body": {
            "projectFolderId": "1sCYiOv0d09VLQpxI_xa11EIxiabVzUHh",
            "type": "land",
            "folderId": "1nqF_Y2kVpgeNrFz347Rr9qazjurOkmAE",
            "extraContext": "Utilities: None, Water: None, Sewer: None. Fencing: Barbed Wire. Recording / instrument number: 2025-19883. Access via County Road. Zoning Location: Outside ETJ. Topography: Brush Covered. Verified by Realtor Tisha Golden Land sale #6"
          },
          "webhookUrl": "https://dougiefreshdesigns.app.n8n.cloud/webhook/comps-folder-list",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}