docs/n8n/workflows/7wDjrBUfjDHNsbUb-_Manual_photos_labeling_knowledge_backfill.json
{
  "name": "[Manual] photos labeling knowledge backfill",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        -160
      ],
      "id": "b8367df4-318f-438b-ad5d-26587b29bc68",
      "name": "Get Photo Folder File List",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46d0b98a-c6a6-426a-8325-db0522c310b0",
              "leftValue": "={{ $('Get Photo Folder File List').item.json.mimeType }}",
              "rightValue": "image/jpeg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0e2b3dc0-b579-43cc-8713-3a2129b14c82",
              "leftValue": "={{ $('Get Photo Folder File List').item.json.mimeType }}",
              "rightValue": "image/png",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1520,
        -160
      ],
      "id": "dc2c078a-ebc2-49aa-8573-3a3783389b1e",
      "name": "Filter to Photos Only",
      "executeOnce": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        -704
      ],
      "id": "3b8f345f-0471-40c4-a1ff-23f18ad363aa",
      "name": "Join all Results to one list"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ JSON.stringify($json.data, null, 2) }}",
        "name": "input.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Call \\'Get Subject Photos folderId\\'').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2608,
        -704
      ],
      "id": "46230617-8307-4bd3-9286-ca98fbf4df05",
      "name": "Save json file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0116eb-73a1-432c-bf34-64231873d410",
              "name": "image",
              "value": "={{ $json.output.image }}",
              "type": "string"
            },
            {
              "id": "7a403168-74ef-40d5-b59b-2c270602b6c6",
              "name": "label",
              "value": "={{ $json.output.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        -704
      ],
      "id": "93b9304b-7c20-40aa-a0e4-1b07645d71de",
      "name": "Edit Output - Un-nest"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bd24PVkvGPnDCo2t",
          "mode": "list",
          "cachedResultUrl": "/workflow/bd24PVkvGPnDCo2t",
          "cachedResultName": "Image Classifier and Labeler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "propertyType": "={{ $('Call \\'report-data -- extract subject\\'').item.json.propertyType }}",
            "description": "={{ $('AI Agent - Make Subject Summary').item.json.output }}",
            "photosFolderId": "={{ $('Call \\'Get Subject Photos folderId\\'').item.json.id }}",
            "fileData": "={{ $json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileData",
              "displayName": "fileData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "propertyType",
              "displayName": "propertyType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "photosFolderId",
              "displayName": "photosFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4144,
        384
      ],
      "name": "Call Image Classifier and Labeler",
      "id": "a1508d90-24b3-4e64-9f94-5012a62b0735",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a517c9fd-6b84-45f3-bfff-53f8754b0484",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -160
      ],
      "id": "bee2011f-bedf-4dcb-b09e-9cfea122c557",
      "name": "Webhook",
      "webhookId": "a517c9fd-6b84-45f3-bfff-53f8754b0484"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae26dc87-58b6-48ac-8468-ff4ae326c406",
              "name": "projectFolderId",
              "value": "={{ $json.body.projectFolderId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -160
      ],
      "id": "16e38d39-57e1-498c-884f-98362d4946f6",
      "name": "WH Body - Extract"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "riAFXAxXWS7tszk3",
          "mode": "list",
          "cachedResultUrl": "/workflow/riAFXAxXWS7tszk3",
          "cachedResultName": "Get Project Subfolder Ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectFolderId": "={{ $json.projectFolderId }}"
          },
          "matchingColumns": [
            "projectFolderId"
          ],
          "schema": [
            {
              "id": "projectFolderId",
              "displayName": "projectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -336,
        -160
      ],
      "id": "4e8472f1-391b-4078-b554-e4d23b652fcf",
      "name": "Call 'Get Project Subfolder Ids'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tep8CtzA1FaIcRBs",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tep8CtzA1FaIcRBs",
          "cachedResultName": "Get report-data fileId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reports": "={{ $json.reports }}"
          },
          "matchingColumns": [
            "reports"
          ],
          "schema": [
            {
              "id": "reports",
              "displayName": "reports",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        -160
      ],
      "id": "eab43c61-036e-4619-840c-f2c3c173dda6",
      "name": "Call 'Get report-data fileId'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i6effpesMXFKBYYb",
          "mode": "list",
          "cachedResultUrl": "/workflow/i6effpesMXFKBYYb",
          "cachedResultName": "report-data -- extract subject"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        -160
      ],
      "id": "fec27705-2a83-43b5-91de-cd403c72d1f8",
      "name": "Call 'report-data -- extract subject'"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        48
      ],
      "id": "e8b947ae-f8f6-43d5-abd9-58c6412129fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert real estate appraiser's assistant. \nYour task is to generate a concise, summary description details of a commercial property that is the subject of the report. This summary will be used to provide context for an AI agent that will be labeling images of the subject property. The output should be a few sentences max with address and relevant details that would be helpful to know when labeling the images.\n\nHere are details about the subject property:\nAddress: {{ $json.address }}\nProperty Type: {{ $json.propertyType }}\nRaw Data from Report Spreadsheet: \n{{ JSON.stringify($json.rawData,null, 2) }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -160
      ],
      "id": "88885f58-cbd3-4425-aac8-bc19f28253fa",
      "name": "AI Agent - Make Subject Summary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "49rRQ0xBDYlFHeBS",
          "mode": "list",
          "cachedResultUrl": "/workflow/49rRQ0xBDYlFHeBS",
          "cachedResultName": "Get Subject Photos folderId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subjectFolderId": "={{ $('Call \\'Get Project Subfolder Ids\\'').item.json.subject }}"
          },
          "matchingColumns": [
            "subjectFolderId"
          ],
          "schema": [
            {
              "id": "subjectFolderId",
              "displayName": "subjectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        688,
        -160
      ],
      "id": "c16c9b47-dced-4d93-b9a1-dea9d2fe0919",
      "name": "Call 'Get Subject Photos folderId'"
    },
    {
      "parameters": {
        "content": "# TODO\n\n- [ ] callimage classifier to v2 to just classify the image based on existing label and image\n- [ ] udate inputs to classifier\n- [ ]  add extraction logic (ref if statement)\n- [ ]  merge\n- [ ] finish loop\n- [ ] get description\n- [ ] finish flow based on cursor convo",
        "height": 480,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4256,
        -464
      ],
      "id": "8115763d-13d7-4584-b933-31da86bb85c3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e79f895-0dbe-4132-b028-6d2ff95c6b0a",
              "leftValue": "={{ $json.name }}",
              "rightValue": "input.json",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        736,
        208
      ],
      "id": "cb95ba13-aace-443a-afb9-26b671a49365",
      "name": "Filter for input.json"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "inputFile",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        208
      ],
      "id": "c8b4a70e-7955-45bd-bbd1-f3a65925056e",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.input.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        224
      ],
      "id": "4c758aee-17d1-4eaa-b0f6-cb087e4091b3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        224
      ],
      "id": "9d15ab92-5525-4f35-9934-a7a9fac6481a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd5f6cc3-9509-4d0f-b5c5-83b796eccaf5",
              "name": "input",
              "value": "={{ $json.inputFile[0] }}",
              "type": "object"
            },
            {
              "id": "476d215d-a02b-4351-8523-98c3b767262b",
              "name": "inputFileId",
              "value": "={{ $json.inputFile[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        224
      ],
      "id": "b41647ab-f102-446d-a461-2b3da4bd3c89",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1aae98ff-74bd-4d4a-b8fd-3725cd4f4bc8",
              "leftValue": "={{ $('create knowledgeMap').item.json.knowledgeMap[$json.photo.name] }}",
              "rightValue": "=",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4160,
        112
      ],
      "id": "857b7c25-004c-4198-bf07-6cc49b8b6f97",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3888,
        0
      ],
      "id": "ec223851-bffe-4474-96fd-b80911ce71fc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e06ecb2-526d-4b4b-98c2-eefda443ea01",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4368,
        96
      ],
      "id": "c2ec6c00-a3d8-4f01-a069-9098a28aa55a",
      "name": "Extract Label"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        0
      ],
      "id": "dd291447-7889-46d3-882f-fa700d6ef910",
      "name": "Merge5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "photos",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        -160
      ],
      "id": "09c5df03-732b-4acf-8a2e-6eb391ce8989",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61fc9a6e-b727-462c-b1bb-d10152c2beed",
              "name": "inputWithPhotos",
              "value": "={{ $('Merge5').item.json.input.map(i => ({...i, photo: $('Merge5').item.json.photoMap[i.image]})) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        0
      ],
      "id": "234599cc-4cc8-41b5-abfa-d74fbbe8d90b",
      "name": "Map photos to input"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI",
          "mode": "list",
          "cachedResultName": "AI Photo Labeling Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2640,
        0
      ],
      "id": "88b53a24-e9d4-4311-8d71-7de8b79ec614",
      "name": "Read existing knowledgebase",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25825fcb-1122-4e4f-a421-c68b79cfce23",
              "name": "photoMap",
              "value": "={{ $json.photos.reduce((acc,p) => ({...acc, [p.name]: p}), {}) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        -160
      ],
      "id": "e58c7034-9154-4231-b37f-42d68f0fbb2d",
      "name": "Create PhotosMap"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "input",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "378d47a4-646c-40f8-a31c-005fbd404f0b",
              "name": "inputFileId",
              "value": "={{ $('Edit Fields').item.json.inputFileId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        224
      ],
      "id": "a8ca5810-c44a-4cd5-80a5-1248eeaddd58",
      "name": "Format Input Data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "knowledge",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3056,
        0
      ],
      "id": "3a8c6b6c-9d4f-4889-9f44-26bce9108744",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7155f9ba-3f2b-4ded-ae58-e096241c0804",
              "leftValue": "={{ $json.ImageName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2848,
        0
      ],
      "id": "f523b56b-26fa-47c3-9f84-4cc9618b6b7e",
      "name": "Filter out empty KB names"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13695723-4036-4334-8b33-68a1b468b93c",
              "name": "knowledgeMap",
              "value": "={{ $json.knowledge.reduce((acc, k) => ({...acc, [k.ImageName]: k}), {}) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        0
      ],
      "id": "871b69bd-1ffd-45e3-9fb7-dbcb9aa79a6d",
      "name": "create knowledgeMap"
    },
    {
      "parameters": {
        "content": "## Knowledgebase\n- fetch and format KN",
        "height": 288,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2576,
        -96
      ],
      "id": "cc35c715-daf5-4f39-a743-464eaa5d1ae6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "inputWithPhotos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3648,
        0
      ],
      "id": "ac17b15d-2875-432d-904e-306869ebae8a",
      "name": "Split Out"
    }
  ],
  "connections": {
    "Get Photo Folder File List": {
      "main": [
        [
          {
            "node": "Filter for input.json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter to Photos Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to Photos Only": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join all Results to one list": {
      "main": [
        [
          {
            "node": "Save json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Output - Un-nest": {
      "main": [
        [
          {
            "node": "Join all Results to one list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Image Classifier and Labeler": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "WH Body - Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH Body - Extract": {
      "main": [
        [
          {
            "node": "Call 'Get Project Subfolder Ids'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Project Subfolder Ids'": {
      "main": [
        [
          {
            "node": "Call 'Get report-data fileId'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get report-data fileId'": {
      "main": [
        [
          {
            "node": "Call 'report-data -- extract subject'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'report-data -- extract subject'": {
      "main": [
        [
          {
            "node": "AI Agent - Make Subject Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Make Subject Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Subject Photos folderId'": {
      "main": [
        [
          {
            "node": "Get Photo Folder File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Make Subject Summary": {
      "main": [
        [
          {
            "node": "Call 'Get Subject Photos folderId'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save json file": {
      "main": [
        []
      ]
    },
    "Filter for input.json": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Format Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Image Classifier and Labeler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Create PhotosMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Read existing knowledgebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map photos to input": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PhotosMap": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input Data": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read existing knowledgebase": {
      "main": [
        [
          {
            "node": "Filter out empty KB names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out empty KB names": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "create knowledgeMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create knowledgeMap": {
      "main": [
        [
          {
            "node": "Map photos to input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dougiefreshdesigns.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "4270",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "159.118.76.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "979e4464b7abc52b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "159.118.76.37, 104.23.187.21",
            "x-forwarded-host": "dougiefreshdesigns.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-tkrcr",
            "x-is-trusted": "yes",
            "x-real-ip": "159.118.76.37"
          },
          "params": {},
          "query": {},
          "body": {
            "projectFolderId": "1-PsMbp4u-j__hEde--3SEu6vrq-6f5H8"
          },
          "webhookUrl": "https://dougiefreshdesigns.app.n8n.cloud/webhook/subject-process-photos",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}