docs/n8n/workflows/EAWjrGXpjpHoqDC2-_POST_Comp_refresh_app_data.json
{
  "name": "[POST] Comp - refresh app data",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comps-data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        -928
      ],
      "id": "f8a0bccc-4457-440e-9886-b9dc2962df86",
      "name": "Webhook",
      "webhookId": "a2f850dd-8299-42f4-b955-07274e998fee",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "projectFolderId",
              "value": "={{ $json.body.projectFolderId }}",
              "type": "string"
            },
            {
              "id": "1b9cc33b-6601-421e-abfa-ec938e73eeda",
              "name": "type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "12fb3205-66db-4873-a524-095025d86fc0",
              "name": "sheetName",
              "value": "={{ `${$json.body.type.replace(/s$/, \"\")} comps` }}",
              "type": "string"
            },
            {
              "id": "8afe2e2d-af79-4a04-a9da-293082617bec",
              "name": "useType",
              "value": "={{ $if($json.body.type === 'rentals', 'Rental', 'Sale') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -928
      ],
      "id": "0aa09465-68cf-4501-91db-e1f36b48566d",
      "name": "wh body"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "riAFXAxXWS7tszk3",
          "mode": "list",
          "cachedResultUrl": "/workflow/riAFXAxXWS7tszk3",
          "cachedResultName": "Get Project Subfolder Ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectFolderId": "={{ $json.projectFolderId }}"
          },
          "matchingColumns": [
            "projectFolderId"
          ],
          "schema": [
            {
              "id": "projectFolderId",
              "displayName": "projectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1200,
        -928
      ],
      "id": "10b6457b-3ce4-409b-aa00-a58ca0376a8a",
      "name": "Call 'Get Project Subfolder Ids'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2224,
        -944
      ],
      "id": "70270093-c108-4b1f-9314-59fae8bde722",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tep8CtzA1FaIcRBs",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tep8CtzA1FaIcRBs",
          "cachedResultName": "Get report-data fileId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reports": "={{ $json.reports }}"
          },
          "matchingColumns": [
            "reports"
          ],
          "schema": [
            {
              "id": "reports",
              "displayName": "reports",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -768,
        -928
      ],
      "name": "Call Get report-data fileId",
      "id": "417b0647-fb1a-4c8e-838f-ae55be5d509b"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('wh body').item.json.sheetName }}",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Use Type",
              "lookupValue": "={{ $('wh body').item.json.useType }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -544,
        -928
      ],
      "id": "ca47b1ca-2b0d-437e-8856-8bbf4002568b",
      "name": "Get Report Data - Sale Comps",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "comps",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -304,
        -928
      ],
      "id": "dc1b5eaf-6df7-429a-88e0-d35b13f1f3b8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adbc9dd6-9f7b-49ea-9ecf-b87cedec8512",
              "name": "comps",
              "value": "={{ $('Code in JavaScript').item.json.compsWithFolderId }}",
              "type": "array"
            },
            {
              "id": "d8879ac8-8df7-4ac5-a17e-34465ea7642d",
              "name": "imageMap",
              "value": "={{ $json.imageMap }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        -944
      ],
      "id": "947d096e-3c79-42b6-97f3-8fa1ca323e0b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uLMhHA4lmqVDqJ9a",
          "mode": "list",
          "cachedResultUrl": "/workflow/uLMhHA4lmqVDqJ9a",
          "cachedResultName": "Get comps Subfolders details"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folderId": "={{ $('Call \\'Get Project Subfolder Ids\\'').item.json.comps }}"
          },
          "matchingColumns": [
            "folderId"
          ],
          "schema": [
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        -944
      ],
      "id": "ade1c263-04b0-4c33-b20d-ebab1a1793e8",
      "name": "Call 'Get comps Subfolders details'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a86f3b6a-bd36-40f9-adea-f1ed6ac38e56",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('wh body').item.json.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        320,
        -944
      ],
      "id": "1625c5de-2f43-4385-8abf-d0f969c29116",
      "name": "Filter",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d260877d-620f-4039-b06d-fef2ccaa4a07",
              "leftValue": "={{ $('wh body').item.json.type }}",
              "rightValue": "land",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        -512
      ],
      "id": "f289fa0e-13fc-417c-9ff1-3405441a5cea",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23d6d0ec-1946-45a4-ac26-74ab47acde99",
              "name": "compFolders",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -448
      ],
      "id": "6dc15ade-8317-4d90-ad20-2614427d0527",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uLMhHA4lmqVDqJ9a",
          "mode": "list",
          "cachedResultUrl": "/workflow/uLMhHA4lmqVDqJ9a",
          "cachedResultName": "Get comps Subfolders details"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folderId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "folderId"
          ],
          "schema": [
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        528,
        -944
      ],
      "id": "bffc51f7-4d9c-4a78-8309-87630b65b4d9",
      "name": "Call 'Get comps Subfolders details'1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "compFolders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        -944
      ],
      "id": "d256b98d-721c-48aa-a3c3-c244ab7b349c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        -384
      ],
      "id": "4c46f381-2a50-4c1f-af6a-0f4f64246584",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const comps = $('Aggregate').first().json.comps;\nconst folders = $input.first().json.compFolders;\n\n// --- THE FUZZY ALGORITHM (Dice Coefficient) ---\nfunction getSimilarity(s1, s2) {\n    // Safety check: ensure both inputs exist before processing\n    if (!s1 || !s2) return 0;\n\n    s1 = s1.toLowerCase().replace(/[^a-z0-9]/g, ''); \n    s2 = s2.toLowerCase().replace(/[^a-z0-9]/g, '');\n    \n    if (s1 === s2) return 1;\n    if (s1.length < 2 || s2.length < 2) return 0;\n\n    let bigrams1 = new Set();\n    for (let i = 0; i < s1.length - 1; i++) bigrams1.add(s1.substring(i, i + 2));\n\n    let intersection = 0;\n    for (let i = 0; i < s2.length - 1; i++) {\n        let bigram = s2.substring(i, i + 2);\n        if (bigrams1.has(bigram)) intersection++;\n    }\n\n    return (2.0 * intersection) / (s1.length + s2.length - 2);\n}\n\nconst compsWithFolderId = comps.map(c => {\n  // Safety check: ensure Address exists\n  if (!c.Address) return c; \n\n  const targetString = c.Address.split(',')[0];\n  let bestMatch = null;\n  let highestScore = 0;\n  \n  // 2. Loop through all folders to find the best score\n  folders.forEach(folder => {\n      // FIX 1: Access name directly. Added fallback just in case structure varies.\n      const folderName = folder.name || (folder.json ? folder.json.name : '');\n      \n      const score = getSimilarity(targetString, folderName);\n      \n      // We only care if the score is somewhat high (e.g., > 0.6)\n      if (score > highestScore) {\n          highestScore = score;\n          bestMatch = folder;\n      }\n  });\n\n  if (!bestMatch || highestScore < 0.4) return c; // Added score threshold check\n\n  // FIX 2: Access properties directly from bestMatch (no .json)\n  // We use the same logic: try direct access, fallback to .json if it exists\n  const folderId = bestMatch.id || (bestMatch.json ? bestMatch.json.id : null);\n  const folderNameMatch = bestMatch.name || (bestMatch.json ? bestMatch.json.name : null);\n\n  return { \n      ...c, \n      folderId: folderId, \n      folderName: folderNameMatch,\n      matchScore: highestScore // Helpful for debugging\n  };\n})\n\nreturn { compsWithFolderId }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -944
      ],
      "id": "5ca91c48-55ec-4f5e-abd9-51e68246e0d6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TZD6ql9cd1C3sqYb",
          "mode": "list",
          "cachedResultUrl": "/workflow/TZD6ql9cd1C3sqYb",
          "cachedResultName": "Get comp photo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folderId": "={{ $json.folderId }}"
          },
          "matchingColumns": [
            "folderId"
          ],
          "schema": [
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1648,
        -944
      ],
      "id": "20db255d-dabf-4970-81f0-0f5312eb67a0",
      "name": "Call 'Get comp photo'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45a21af8-783e-45ad-9743-bc25aa04d392",
              "leftValue": "={{ $json.folderId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1408,
        -944
      ],
      "id": "b1b430a1-b8e6-4f64-95a0-4ef92e1341b6",
      "name": "Filter1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "compsWithFolderId",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        -944
      ],
      "id": "b0b7be47-7eba-43ab-bb03-15c7df0419d4",
      "name": "Split Out"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "wh body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wh body": {
      "main": [
        [
          {
            "node": "Call 'Get Project Subfolder Ids'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Project Subfolder Ids'": {
      "main": [
        [
          {
            "node": "Call Get report-data fileId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Get report-data fileId": {
      "main": [
        [
          {
            "node": "Get Report Data - Sale Comps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Report Data - Sale Comps": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call 'Get comps Subfolders details'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get comps Subfolders details'": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Call 'Get comps Subfolders details'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get comps Subfolders details'1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Call 'Get comp photo'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get comp photo'": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dougiefreshdesigns.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "4270",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "159.118.76.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "979e4464b7abc52b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "159.118.76.37, 104.23.187.21",
            "x-forwarded-host": "dougiefreshdesigns.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-tkrcr",
            "x-is-trusted": "yes",
            "x-real-ip": "159.118.76.37"
          },
          "params": {},
          "query": {},
          "body": {
            "projectFolderId": "1sCYiOv0d09VLQpxI_xa11EIxiabVzUHh",
            "type": "land"
          },
          "webhookUrl": "https://dougiefreshdesigns.app.n8n.cloud/webhook/comps-folder-list",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}