docs/n8n/workflows/f1F6gK2aI8Hd7thl-_POST_Subject_photos_labeling.json
{
  "name": "[POST] Subject photos labeling",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        -160
      ],
      "id": "0a338d97-b46e-4460-b27b-105e8ac7277a",
      "name": "Get Photo Folder File List",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46d0b98a-c6a6-426a-8325-db0522c310b0",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/jpeg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0e2b3dc0-b579-43cc-8713-3a2129b14c82",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/png",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1136,
        -160
      ],
      "id": "82ef7682-abd9-4d5d-8a30-1b635786b095",
      "name": "Filter to Photos Only",
      "executeOnce": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1808,
        -160
      ],
      "id": "40e6c71e-50ad-41b9-b79e-e1c8ce851f19",
      "name": "Join all Results to one list"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ JSON.stringify($json.data, null, 2) }}",
        "name": "input.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Call \\'Get Subject Photos folderId\\'').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        -160
      ],
      "id": "919d1685-6e64-4cc7-85f7-157cdc010365",
      "name": "Save json file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0116eb-73a1-432c-bf34-64231873d410",
              "name": "image",
              "value": "={{ $json.output.image }}",
              "type": "string"
            },
            {
              "id": "7a403168-74ef-40d5-b59b-2c270602b6c6",
              "name": "label",
              "value": "={{ $json.output.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -160
      ],
      "id": "d7f328d2-7beb-4793-8fc6-e140a2896eda",
      "name": "Edit Output - Un-nest"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bd24PVkvGPnDCo2t",
          "mode": "list",
          "cachedResultUrl": "/workflow/bd24PVkvGPnDCo2t",
          "cachedResultName": "Image Classifier and Labeler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "propertyType": "={{ $('Call \\'report-data -- extract subject\\'').item.json.propertyType }}",
            "description": "={{ $('AI Agent - Make Subject Summary').item.json.output }}",
            "photosFolderId": "={{ $('Call \\'Get Subject Photos folderId\\'').item.json.id }}",
            "fileData": "={{ $json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileData",
              "displayName": "fileData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "propertyType",
              "displayName": "propertyType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "photosFolderId",
              "displayName": "photosFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1360,
        -160
      ],
      "name": "Call Image Classifier and Labeler",
      "id": "dc22f795-f83b-431f-aaa3-b9103d6ecb2d",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subject-process-photos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        -160
      ],
      "id": "06111e68-7adc-4334-ab41-01af24f097b6",
      "name": "Webhook",
      "webhookId": "92632151-8992-468d-9eb6-28f0b52dde49"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae26dc87-58b6-48ac-8468-ff4ae326c406",
              "name": "projectFolderId",
              "value": "={{ $json.body.projectFolderId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -160
      ],
      "id": "8439d198-3360-4eda-a7ec-d88813dad2f3",
      "name": "WH Body - Extract"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "riAFXAxXWS7tszk3",
          "mode": "list",
          "cachedResultUrl": "/workflow/riAFXAxXWS7tszk3",
          "cachedResultName": "Get Project Subfolder Ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "projectFolderId": "={{ $json.projectFolderId }}"
          },
          "matchingColumns": [
            "projectFolderId"
          ],
          "schema": [
            {
              "id": "projectFolderId",
              "displayName": "projectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -336,
        -160
      ],
      "id": "54d3e4ac-0ad3-422c-bd04-2e82bbbbdc18",
      "name": "Call 'Get Project Subfolder Ids'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tep8CtzA1FaIcRBs",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tep8CtzA1FaIcRBs",
          "cachedResultName": "Get report-data fileId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reports": "={{ $json.reports }}"
          },
          "matchingColumns": [
            "reports"
          ],
          "schema": [
            {
              "id": "reports",
              "displayName": "reports",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -112,
        -160
      ],
      "id": "ddeb9bd9-6362-4355-8afd-b0a5d0c38574",
      "name": "Call 'Get report-data fileId'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i6effpesMXFKBYYb",
          "mode": "list",
          "cachedResultUrl": "/workflow/i6effpesMXFKBYYb",
          "cachedResultName": "report-data -- extract subject"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        -160
      ],
      "id": "3477af7f-f5dd-4ad0-a88b-fcc86de31741",
      "name": "Call 'report-data -- extract subject'"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        48
      ],
      "id": "a4c99818-4e89-4b37-9131-ca6e9dfc5892",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert real estate appraiser's assistant. \nYour task is to generate a concise, summary description details of a commercial property that is the subject of the report. This summary will be used to provide context for an AI agent that will be labeling images of the subject property. The output should be a few sentences max with address and relevant details that would be helpful to know when labeling the images.\n\nHere are details about the subject property:\nAddress: {{ $json.address }}\nProperty Type: {{ $json.propertyType }}\nRaw Data from Report Spreadsheet: \n{{ JSON.stringify($json.rawData,null, 2) }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -160
      ],
      "id": "ff99411f-a1ff-4241-a4e3-e1165601555a",
      "name": "AI Agent - Make Subject Summary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "49rRQ0xBDYlFHeBS",
          "mode": "list",
          "cachedResultUrl": "/workflow/49rRQ0xBDYlFHeBS",
          "cachedResultName": "Get Subject Photos folderId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "subjectFolderId": "={{ $('Call \\'Get Project Subfolder Ids\\'').item.json.subject }}"
          },
          "matchingColumns": [
            "subjectFolderId"
          ],
          "schema": [
            {
              "id": "subjectFolderId",
              "displayName": "subjectFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        688,
        -160
      ],
      "id": "6d3646f5-976d-48a1-a34e-6789f9fac9a0",
      "name": "Call 'Get Subject Photos folderId'"
    }
  ],
  "connections": {
    "Get Photo Folder File List": {
      "main": [
        [
          {
            "node": "Filter to Photos Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to Photos Only": {
      "main": [
        [
          {
            "node": "Call Image Classifier and Labeler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join all Results to one list": {
      "main": [
        [
          {
            "node": "Save json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Output - Un-nest": {
      "main": [
        [
          {
            "node": "Join all Results to one list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Image Classifier and Labeler": {
      "main": [
        [
          {
            "node": "Edit Output - Un-nest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "WH Body - Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH Body - Extract": {
      "main": [
        [
          {
            "node": "Call 'Get Project Subfolder Ids'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Project Subfolder Ids'": {
      "main": [
        [
          {
            "node": "Call 'Get report-data fileId'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get report-data fileId'": {
      "main": [
        [
          {
            "node": "Call 'report-data -- extract subject'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'report-data -- extract subject'": {
      "main": [
        [
          {
            "node": "AI Agent - Make Subject Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Make Subject Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Subject Photos folderId'": {
      "main": [
        [
          {
            "node": "Get Photo Folder File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Make Subject Summary": {
      "main": [
        [
          {
            "node": "Call 'Get Subject Photos folderId'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save json file": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dougiefreshdesigns.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "4270",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "159.118.76.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "979e4464b7abc52b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "159.118.76.37, 104.23.187.21",
            "x-forwarded-host": "dougiefreshdesigns.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-tkrcr",
            "x-is-trusted": "yes",
            "x-real-ip": "159.118.76.37"
          },
          "params": {},
          "query": {},
          "body": {
            "projectFolderId": "1yOWw4JO0bpzYsBfU9IVRV54V4RwGrlWQ"
          },
          "webhookUrl": "https://dougiefreshdesigns.app.n8n.cloud/webhook/subject-process-photos",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}