docs/n8n/workflows/MCkTDGS4swlVlbrO-Gemini_Gems_with_Knowledge.json
{
  "name": "Gemini Gems with Knowledge",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a162d3e-d2bb-4214-991e-f642f5a5af1e",
              "name": "extraInfo",
              "value": "={{ $json.output ?? '' }}\n\n{{ $json.extraInfo?.map((e, idx) => `\n${e.output}\n`).join('\\n') ?? 'N/A' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        464
      ],
      "id": "2aa49952-cf8b-4840-afbf-68496a93f530",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "knowledgeBase",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2528,
        -464
      ],
      "id": "50d7b0e2-014a-4a45-b96c-7c7723ee1721",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "examples",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1120,
        240
      ],
      "id": "455a4488-33be-431b-8776-c260c4747ce6",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c45c4555-9b5a-4411-b532-0da0c445d683",
              "leftValue": "={{ $('Start').item.json.fileId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        240
      ],
      "id": "7b262be6-081c-4ebd-acd5-f885e8de34a2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1024,
        "height": 1024,
        "options": {
          "format": "jpeg"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        256,
        -592
      ],
      "id": "48e05434-3495-4d13-90cd-21409aa455b6",
      "name": "Edit Image2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad6f02dc-3974-4920-bc1c-b94317c40d00",
              "name": "prompt",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        48
      ],
      "id": "da842093-26e7-495b-aad6-1349b526114c",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "reportSectionName"
            },
            {
              "name": "extraPromptDetails"
            },
            {
              "name": "fileId"
            },
            {
              "name": "fileUrl"
            },
            {
              "name": "fileType"
            }
          ]
        }
      },
      "id": "b98007dd-4439-46b6-8c86-dc10bd4d40a4",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2192,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea33c9aa-5224-471e-9ef1-e1c5e3cbeed1",
              "leftValue": "={{ $json.content_type }}",
              "rightValue": "System Prompt",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        48
      ],
      "id": "42d6f3c5-3f02-4408-93ab-42405492debb",
      "name": "Filter Knowledge - Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76044817-372c-43e8-91c4-b1bc0011dd15",
              "leftValue": "={{ $json.content_type }}",
              "rightValue": "Example",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        240
      ],
      "id": "578975bf-54e1-437c-a22d-a600b648106a",
      "name": "Filter Knowledge - Examples"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29cb52e7-51d9-453a-9d7c-72d4ffacb40a",
              "name": "examplesText",
              "value": "={{ $json.examples.map((e, idx) => `\n---\n### EXAMPLE ${idx + 1}\n\nInput: \n\n${e.input?.split('\\n').map(i => (`* ${i}`)).join('\\n') ?? 'N/A'}\n\nOutput: \n\n${e.output}\n`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        240
      ],
      "id": "01ad45ff-3301-4f80-8372-e51ac3e58fbb",
      "name": "Create Examples Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7200c41c-1bc3-4cad-be6a-b9dddcf75791",
              "leftValue": "={{ $json.content_type }}",
              "rightValue": "Knowledge",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        464
      ],
      "id": "49946c0d-52a8-4bc6-b4b2-c38a60fa8065",
      "name": "Filter Knowledge - Extra Knowledge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -608,
        224
      ],
      "id": "1552a93b-e651-4b13-9b9f-625594302a3f",
      "name": "Merge Knowledge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "777f839b-c312-49f5-a700-3f23062512c6",
              "name": "prompt",
              "value": "=## Instructions\n{{ $json.prompt }}\n\n## EXAMPLES\n{{ $json.examplesText }}\n\n{{ $json.extraInfo }}\n\n## CURRENT ASSIGNMENT\n{{ $('Start').item.json.extraPromptDetails?.split('\\n').map(i => (`* ${i}`)).join('\\n') ?? 'N/A' }}\n\nFollow provided instructions and generate the output for the current assignment property. Only respond with the content you generate not an explination, as if you were writing the content directly into the report.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        240
      ],
      "id": "bd3f5862-2641-4bdb-affd-a58dcc28b723",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd174ea7-0946-4b79-b8a9-c5aaa80a2021",
              "leftValue": "={{ $json.gem_name }}",
              "rightValue": "={{ $('Start').item.json.gemName }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2352,
        -464
      ],
      "id": "84a6429b-19b0-468e-b764-26f0a32530a5",
      "name": "Filter Knowledge base by Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3747089-22a2-4563-9e8a-eec2d72de363",
              "name": "=content",
              "value": "={{ $json.content.parts[0].text.replace('```json', '').replace('```', '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -96
      ],
      "id": "001398eb-589b-4516-8c89-64ac21a92cd1",
      "name": "Map Output to Gem Name Key"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "imageBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        400,
        -592
      ],
      "id": "8222cbe3-3d95-426a-bc2e-0f23dba1a1cc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        144,
        336
      ],
      "id": "b690cb9a-4038-4388-9e0e-609e1df08fd4",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('If').item.json.prompt }}\n\nAttachment (uploaded to Gemini)\n{{ $json.fileUri }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        -592
      ],
      "id": "ab405d0e-6b64-4076-a263-688734fe93b1",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3747089-22a2-4563-9e8a-eec2d72de363",
              "name": "=content",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        336
      ],
      "id": "bf3dc65d-7a35-4582-a9c2-10eac67c58ee",
      "name": "Map Output to Gem Name Key1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.fileId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -80
      ],
      "id": "d983b266-085a-4e4b-80cb-509af71a4d5f",
      "name": "Download Attachment",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        240,
        -80
      ],
      "id": "e152ce88-d91b-488b-b89d-456c647d6c32",
      "name": "Upload a file",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Improvements\n- [x] change input to accept section\n- [x] add a mapper to map section to gem name\n- [x] read the knowledge base here and provide filter to Sheet Node \n",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        -384
      ],
      "id": "634b2f3f-9908-457b-b38c-666f993345a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.fileId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -416
      ],
      "id": "4a504f6e-2044-4710-997a-98292923e075",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reportSectionName = $input.first().json.reportSectionName;\nlet mappedName;\n\nswitch (reportSectionName) {\n  case \"neighborhood\":\n    mappedName = \"Neighborhood\";\n    break;\n  case \"zoning\":\n    mappedName = \"Zoning\";\n    break;\n  case \"subject-site-summary\":\n    mappedName = \"Subject Site Summary\";\n    break;\n  case \"highest-best-use\":\n    mappedName = \"Highest and Best Use\";\n    break;\n  case \"ownership\":\n    mappedName = \"Ownership\";\n    break;\n  default:\n    mappedName = reportSectionName;\n}\n\nreturn { sectionName: mappedName };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        240
      ],
      "id": "3ee3d4b6-5341-4dda-9c65-284fb6b1f31f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1bjegFap-0dXN1alqHWWaGYFWJOFKh6DCppbKYJbyGAg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bjegFap-0dXN1alqHWWaGYFWJOFKh6DCppbKYJbyGAg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "gem_name",
              "lookupValue": "={{ $json.sectionName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1744,
        240
      ],
      "id": "c7dd40f3-1209-4860-b9e3-b76218abecba",
      "name": "Get  Knowledge Base1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "extraInfo",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1120,
        464
      ],
      "id": "6f0853a1-2d22-4277-ae4b-477cb902cc97",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756587d2-f78c-465d-ad7f-1153e36beef8",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -416
      ],
      "id": "43bbdb44-814a-4137-8ffe-2d48615c8974",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "={{ $('If').item.json.prompt }}\n\n## Other Instructions\n\nDO NOT MAKE UP DATA, IF YOU CANNOT ACCESS ATTACHMENTS, SAY SO IN YOUR RESPONSE.",
        "documentUrls": "={{ $json.fileUri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        512,
        -96
      ],
      "id": "dcde63df-d57f-4f18-8561-733df4907fe1",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "72f1yYOIUOwDmWkY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "connections": {
    "Edit Image2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Filter Knowledge base by Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Create Examples Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge Knowledge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Knowledge - Prompt": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Knowledge - Examples": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Examples Text": {
      "main": [
        [
          {
            "node": "Merge Knowledge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter Knowledge - Extra Knowledge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Knowledge": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Knowledge base by Input": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Map Output to Gem Name Key1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        []
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        []
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get  Knowledge Base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get  Knowledge Base1": {
      "main": [
        [
          {
            "node": "Filter Knowledge - Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Knowledge - Examples",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Knowledge - Extra Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        []
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Map Output to Gem Name Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "reportSectionName": "ownership",
          "extraPromptDetails": "Addess: 210 W 57th St, Odessa, TX 79764\nZoning: None (Inside ETJ)",
          "extraPromptDetailsOwnership": "Addess: 210 W 57th St, Odessa, TX 79764 \nLegal Description: LAKEVIEW W 176.6 OF E 476.6 OF TRACT 42 \nDeed Record of purchase: 2005-00010455 \n Ownership Info: This Warranty Deed with Vendor's Lien was executed on June 30, 2005, and recorded in Ector County, Texas, on July 5, 2005, under Instrument Number 00010455. The Grantor, Donna Maxwell Chapman, Trustee of the Maxwell Family Trust dated April 23, 1996, conveyed the property located at 210 W. 57th Street, Odessa, Texas (legally described as a 2.54-acre tract being the West 176.6' of the East 476.6' of Tract 42, Lake View Addition) to the Grantee, John Grist, Trustee. Consideration for the transfer consisted of $10.00 and other valuable consideration, specifically the sum of $85,000.00 evidenced by a promissory note (part of a $120,000.00 principal sum) payable to Commercial State Bank.",
          "fileId": "1pVwEYpILNX7QffBxDRTTPsTHPcLPLDms",
          "fileUrl": "https://drive.google.com/file/d/1pVwEYpILNX7QffBxDRTTPsTHPcLPLDms/view?usp=sharing",
          "fileType": "image/png"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}