docs/n8n/workflows/OEuoJKWQQmYLQvfo-Image_Classifier_and_Labeler_v2.json
{
  "name": "Image Classifier and Labeler v2",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.photo.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1792,
        304
      ],
      "id": "f2546a10-f213-4edc-abd4-863b96339359",
      "name": "Download Photo",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -32
      ],
      "id": "ee922a8e-487c-4968-aa8e-b6e8ea117300",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c963252-fb01-4970-b39f-3004293c50c8",
              "name": "examplesText",
              "value": "={{  $json.data.map(item => `EXAMPLE:\\nImageName: ${item.ImageName}\\nLabelText: ${item.Label}`).join('\\n---\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -208
      ],
      "id": "0aaf3d36-d9be-4a04-9b93-db93d81746ea",
      "name": "Create Examples Text Paragraph"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI",
          "mode": "list",
          "cachedResultName": "AI Photo Labeling Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Category",
              "lookupValue": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -752,
        -208
      ],
      "id": "6ac2b9b5-d106-4ecd-a821-4ad07cc45d2b",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -576,
        -208
      ],
      "id": "f914a730-165b-414b-93c4-f55efe7e5cad",
      "name": "Join Examples From Category to One List"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "imageName"
            },
            {
              "name": "label"
            },
            {
              "name": "photo",
              "type": "object"
            },
            {
              "name": "photosFolderId"
            },
            {
              "name": "propertyType"
            },
            {
              "name": "description"
            },
            {
              "name": "knowledgeMap",
              "type": "object"
            },
            {
              "name": "address"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2032,
        304
      ],
      "id": "8d89420a-dda7-4fe2-bd18-1cc2dfaa5d61",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1024,
        "height": 1024,
        "options": {
          "format": "jpeg"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -1600,
        304
      ],
      "id": "503ac60b-5ae3-49d6-ba35-39ee87b32308",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=You are an expert real estate appraiser's assistant. \nYour task is to generate a concise, descriptive label for an image of a commercial property that is the subject of the report. \nThe output must be ONLY a single JSON object with a \"label\" key and a \"image\" key that has the value of the image file name {{ $json.fileData.name }}.\nDo not add any other text or formatting. Do NOT generate any images, just reference the provided image\n\nHere are some highly relevant examples of how to label this type of image, which has been identified as a specific category:\n---\n{{ $json.examplesText }}\n---\n\nHere are more details about the subject property:\nProperty Type: {{ $json.propertyType }}\nSubject Details: \n{{ $json.description }}\n\nNow, analyze the image at and generate the JSON output for it:",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        112,
        -32
      ],
      "id": "2ce362a0-be6e-4942-94e3-447b788f9750",
      "name": "Analyze an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "72f1yYOIUOwDmWkY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58723d0e-8fb4-4bb1-8da9-4ddabe2a400f",
              "name": "output",
              "value": "={{ $json.content.parts[0].text.replace('```json', '').replace('```', '') }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -32
      ],
      "id": "45e69b54-d8a7-458a-89b7-8e70d27389ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "text": "=You are an AI assistant classifying photos for a commercial real estate appraisal.\n\nThe overall property type is: {{ $json.propertyType }}\n\nAdditional context about the subject property are as follows:\n{{ $json.description }}\n\nThe image has been manually given a label of {{ $json.label }}.\n\nBased on this context and the image attached below, classify the image into ONE of the following categories: \n* Site & Grounds\n* Building Exterior\n* Building Interior\n* Residential / Apartment Unit\n* Damage & Deferred Maintenance.\n\nRespond with only the single category name and nothing else.\n",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1200,
        448
      ],
      "id": "360e3430-b02b-488c-bda6-964fbf64f1fc",
      "name": "Classify Image",
      "credentials": {
        "googlePalmApi": {
          "id": "72f1yYOIUOwDmWkY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1aae98ff-74bd-4d4a-b8fd-3725cd4f4bc8",
              "leftValue": "={{ $json.knowledgeMap[$json.photo.name] }}",
              "rightValue": "=",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        304
      ],
      "id": "8901bbaf-35b0-4b8c-8084-a32d9c6b4362",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e06ecb2-526d-4b4b-98c2-eefda443ea01",
              "name": "category",
              "value": "={{ $json.knowledgeMap[$json.image].Category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        256
      ],
      "id": "979c814e-b55b-4ab5-9405-553f0327a6fd",
      "name": "Extract Category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e06ecb2-526d-4b4b-98c2-eefda443ea01",
              "name": "category",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        448
      ],
      "id": "67aac6ff-28d3-442d-9a04-7583fb9b85cf",
      "name": "Collect Category"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "text": "=You are an expert commercial real estate appraiser documenting a property inspection. This image has been labeled as: \"{{label}}\" and categorized as \"{{$json.category}}\" for a {{ $('When Executed by Another Workflow').item.json.propertyType }} property at .\n\nA short description of the subject property is as follows:\n{{ description }}\n\nDescribe what you observe in detail: materials, construction quality, approximate dimensions, condition, notable features, and any deficiencies or deferred maintenance. Be specific about material types (e.g., \"painted drywall\" not \"walls\", \"concrete slab\" not \"floor\"). This will be used as reference documentation for an appraisal report.\n\nRespond with only the description text, 2-4 sentences.\n\nWhen relevant to this image, note observations about the following building characteristics: foundation type, roof type and material, building frame, exterior wall material, floor material and finish, interior wall material and finish, ceiling type, lighting type, restroom fixtures, electrical systems, plumbing, HVAC systems, fire protection/sprinklers, elevators, site improvements (fencing, wells, septic, paving), landscaping, and parking surface type. Only mention characteristics that are actually visible in the image — do not speculate about what you cannot see.",
        "inputType": "binary",
        "binaryPropertyName": "={{ $('Edit Image').item.binary.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        336
      ],
      "id": "845340eb-9be5-49bd-936d-3ff8cd8324b3",
      "name": "Generate Description",
      "credentials": {
        "googlePalmApi": {
          "id": "72f1yYOIUOwDmWkY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -800,
        336
      ],
      "id": "ace28df5-0c76-48c8-ab67-a33a83c3b90e",
      "name": "Merge - End If",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Join Examples From Category to One List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Examples From Category to One List": {
      "main": [
        [
          {
            "node": "Create Examples Text Paragraph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Examples Text Paragraph": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analyze an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Image": {
      "main": [
        [
          {
            "node": "Collect Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Category": {
      "main": [
        [
          {
            "node": "Merge - End If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Category": {
      "main": [
        [
          {
            "node": "Merge - End If",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - End If": {
      "main": [
        [
          {
            "node": "Generate Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "address": "1604 S Burleson Ave, McCamey, TX 79752",
          "propertyType": "Commercial Retail Building",
          "description": "The subject property is a 1,974 SF steel-frame commercial retail building located at 1604 S Burleson Ave, McCamey, TX, situated on a 0.21-acre lot with highway frontage. Built in 1985 and in average condition, the site features a 3,372 SF improved parking area, a 616 SF detached storage building, and a 558 SF concrete slab. Labeling should focus on the main retail storefront, the secondary storage structure, and the surrounding paved surfaces.",
          "photosFolderId": "1YMjPxjVMnUt4i7IH4_6M_zGBX1RPEu7X",
          "image": "PXL_20250522_164933641~2.jpg",
          "label": "Subject Front",
          "photo": {
            "kind": "drive#file",
            "id": "153INtwqTtBG0IHI4H908Wt4Es6XHzJhX",
            "name": "PXL_20250522_164933641~2.jpg",
            "mimeType": "image/jpeg",
            "webViewLink": "https://drive.google.com/file/d/153INtwqTtBG0IHI4H908Wt4Es6XHzJhX/view?usp=drivesdk"
          },
          "knowledgeMap": {
            "front.jpg": {
              "row_number": 2,
              "Category": "Building Exterior",
              "ImageName": "front.jpg",
              "Label": "Subject Front"
            },
            "rear.jpg": {
              "row_number": 3,
              "Category": "Building Exterior",
              "ImageName": "rear.jpg",
              "Label": "Subject Rear"
            },
            "street-view.jpg": {
              "row_number": 4,
              "Category": "Site & Grounds",
              "ImageName": "street-view.jpg",
              "Label": "Street View"
            },
            "excess-land.jpg": {
              "row_number": 5,
              "Category": "Site & Grounds",
              "ImageName": "excess-land.jpg",
              "Label": "Excess Land"
            },
            "excess-land-street-view.jpg": {
              "row_number": 6,
              "Category": "Site & Grounds",
              "ImageName": "excess-land-street-view.jpg",
              "Label": "Excess Land Street View"
            },
            "left.jpg": {
              "row_number": 7,
              "Category": "Building Exterior",
              "ImageName": "left.jpg",
              "Label": "Subject Left"
            },
            "right.jpg": {
              "row_number": 8,
              "Category": "Building Exterior",
              "ImageName": "right.jpg",
              "Label": "Subject Right"
            },
            "ext-util-closet.jpg": {
              "row_number": 9,
              "Category": "Building Exterior",
              "ImageName": "ext-util-closet.jpg",
              "Label": "Exterior Utility Closet - AC and Water Heater"
            },
            "porte-cochere.jpg": {
              "row_number": 10,
              "Category": "Building Exterior",
              "ImageName": "porte-cochere.jpg",
              "Label": "Porte Cochere"
            },
            "interior-entry.jpg": {
              "row_number": 11,
              "Category": "Building Interior",
              "ImageName": "interior-entry.jpg",
              "Label": "Entryway"
            },
            "interior-office1.jpg": {
              "row_number": 12,
              "Category": "Building Interior",
              "ImageName": "interior-office1.jpg",
              "Label": "Main Office "
            },
            "interior-office2.jpg": {
              "row_number": 13,
              "Category": "Building Interior",
              "ImageName": "interior-office2.jpg",
              "Label": "Office"
            },
            "interior-consult-office.jpg": {
              "row_number": 14,
              "Category": "Building Interior",
              "ImageName": "interior-consult-office.jpg",
              "Label": "Consultation Office"
            },
            "interior-viewing-room-a.jpg": {
              "row_number": 15,
              "Category": "Building Interior",
              "ImageName": "interior-viewing-room-a.jpg",
              "Label": "Viewing Room A"
            },
            "interior-restroom-women.jpg": {
              "row_number": 16,
              "Category": "Building Interior",
              "ImageName": "interior-restroom-women.jpg",
              "Label": "Restroom - Women"
            },
            "interior-restroom-men.jpg": {
              "row_number": 17,
              "Category": "Building Interior",
              "ImageName": "interior-restroom-men.jpg",
              "Label": "Restroom - Men"
            },
            "interior-breakroom.jpg": {
              "row_number": 18,
              "Category": "Building Interior",
              "ImageName": "interior-breakroom.jpg",
              "Label": "Break Room"
            },
            "interior-chapel.jpg": {
              "row_number": 19,
              "Category": "Building Interior",
              "ImageName": "interior-chapel.jpg",
              "Label": "Chapel"
            },
            "interior-hall-main.jpg": {
              "row_number": 20,
              "Category": "Building Interior",
              "ImageName": "interior-hall-main.jpg",
              "Label": "Main Hallway"
            },
            "interior-hall2.jpg": {
              "row_number": 21,
              "Category": "Building Interior",
              "ImageName": "interior-hall2.jpg",
              "Label": "Rear Hallway"
            },
            "interior-hall-closet.jpg": {
              "row_number": 22,
              "Category": "Building Interior",
              "ImageName": "interior-hall-closet.jpg",
              "Label": "Rear Hall Closet"
            },
            "interior-rear-storage.jpg": {
              "row_number": 23,
              "Category": "Building Interior",
              "ImageName": "interior-rear-storage.jpg",
              "Label": "Rear Storage Room"
            },
            "interior-enbalming-room.jpg": {
              "row_number": 24,
              "Category": "Building Interior",
              "ImageName": "interior-enbalming-room.jpg",
              "Label": "Embalming Room"
            },
            "PXL_20250522_164933641~2.jpg": {
              "row_number": 58,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250522_164933641~2.jpg",
              "Label": "Subject Front"
            },
            "PXL_20250522_165253543.jpg": {
              "row_number": 59,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250522_165253543.jpg",
              "Label": "Subject Rear"
            },
            "PXL_20250522_165001133.jpg": {
              "row_number": 60,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250522_165001133.jpg",
              "Label": "Street View South"
            },
            "PXL_20250522_165005469.jpg": {
              "row_number": 61,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250522_165005469.jpg",
              "Label": "Street View North"
            },
            "PXL_20250522_165128897.jpg": {
              "row_number": 62,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250522_165128897.jpg",
              "Label": "Subject Left"
            },
            "PXL_20250522_164954658.jpg": {
              "row_number": 63,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250522_164954658.jpg",
              "Label": "Subject Right"
            },
            "PXL_20250522_171337697.jpg": {
              "row_number": 64,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250522_171337697.jpg",
              "Label": "Exterior Utility Closet (Left)"
            },
            "PXL_20250522_165431296.jpg": {
              "row_number": 65,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250522_165431296.jpg",
              "Label": "Exterior Utility Closet (Right)"
            },
            "PXL_20250522_172639847.jpg": {
              "row_number": 66,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172639847.jpg",
              "Label": "Lobby"
            },
            "PXL_20250522_172716792.jpg": {
              "row_number": 67,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172716792.jpg",
              "Label": "Retail Room (Right)"
            },
            "PXL_20250522_172650198~2.jpg": {
              "row_number": 68,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172650198~2.jpg",
              "Label": "Retail Room (Left)"
            },
            "PXL_20250522_172656159.MP.jpg": {
              "row_number": 69,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172656159.MP.jpg",
              "Label": "Retail Room (Left) - Elevated Floor"
            },
            "PXL_20250522_172219372.jpg": {
              "row_number": 71,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172219372.jpg",
              "Label": "Stairs"
            },
            "PXL_20250522_172210440.jpg": {
              "row_number": 72,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172210440.jpg",
              "Label": "Upstairs Storage Room (Left)"
            },
            "PXL_20250522_172155643.jpg": {
              "row_number": 73,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172155643.jpg",
              "Label": "Upstairs Storage Room (Right)"
            },
            "PXL_20250522_171629374.jpg": {
              "row_number": 74,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_171629374.jpg",
              "Label": "Reception Desk"
            },
            "PXL_20250522_172900329.jpg": {
              "row_number": 75,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172900329.jpg",
              "Label": "Storage Room"
            },
            "PXL_20250522_172500979~2.jpg": {
              "row_number": 76,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172500979~2.jpg",
              "Label": "Office"
            },
            "PXL_20250522_171700405.MP.jpg": {
              "row_number": 77,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_171700405.MP.jpg",
              "Label": "Rear Hallway (Right)"
            },
            "PXL_20250522_171721887.jpg": {
              "row_number": 78,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_171721887.jpg",
              "Label": "Tanning Room"
            },
            "PXL_20250522_172834528.jpg": {
              "row_number": 79,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172834528.jpg",
              "Label": "Laundry"
            },
            "PXL_20250522_172957243.jpg": {
              "row_number": 80,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172957243.jpg",
              "Label": "Rear Hallway (Left)"
            },
            "PXL_20250522_172806705.MP.jpg": {
              "row_number": 81,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172806705.MP.jpg",
              "Label": "Hallway Bathroom"
            },
            "PXL_20250522_172935154.jpg": {
              "row_number": 82,
              "Category": "Building Interior",
              "ImageName": "PXL_20250522_172935154.jpg",
              "Label": "Salon Room"
            },
            "IMG_9083.jpg": {
              "row_number": 83,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "IMG_9083.jpg",
              "Label": "Downtairs Flooring Cracking"
            },
            "IMG_9094.jpg": {
              "row_number": 84,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "IMG_9094.jpg",
              "Label": "Upstairs Flooring Water Damage"
            },
            "IMG_9099.jpg": {
              "row_number": 85,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "IMG_9099.jpg",
              "Label": "Exterior Brick Water Damage"
            },
            "IMG_9091.jpg": {
              "row_number": 86,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "IMG_9091.jpg",
              "Label": "Water Heater Removed"
            },
            "IMG_9088.jpg": {
              "row_number": 87,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "IMG_9088.jpg",
              "Label": "Copper Pipes Disconnected"
            },
            "PXL_20250522_165527244.jpg": {
              "row_number": 88,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250522_165527244.jpg",
              "Label": "Rear Fence Damage"
            },
            "PXL_20250522_165107951.jpg": {
              "row_number": 89,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "PXL_20250522_165107951.jpg",
              "Label": "Upstairs Exterior Siding Damage"
            },
            "PXL_20250522_165234095.jpg": {
              "row_number": 90,
              "Category": "Damage & Deferred Maintenance",
              "ImageName": "PXL_20250522_165234095.jpg",
              "Label": "Left Patio Concrete Cracking"
            },
            "PXL_20250402_180222880-back.jpg": {
              "row_number": 91,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250402_180222880-back.jpg",
              "Label": "Subject Rear"
            },
            "PXL_20250402_174348425-street.jpg": {
              "row_number": 92,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250402_174348425-street.jpg",
              "Label": "Street View"
            },
            "PXL_20250402_174409435-ex-land.jpg": {
              "row_number": 93,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250402_174409435-ex-land.jpg",
              "Label": "Excess Land"
            },
            "PXL_20250402_174355534-street-2.jpg": {
              "row_number": 94,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250402_174355534-street-2.jpg",
              "Label": "Excess Land Street View"
            },
            "PXL_20250402_174341952-parking-lot.jpg": {
              "row_number": 95,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250402_174341952-parking-lot.jpg",
              "Label": "Subject Left"
            },
            "PXL_20250402_175328396~2-right": {
              "row_number": 96,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250402_175328396~2-right",
              "Label": "Subject Right"
            },
            "PXL_20250402_180241215-storage.jpg": {
              "row_number": 97,
              "Category": "Site & Grounds",
              "ImageName": "PXL_20250402_180241215-storage.jpg",
              "Label": "Rear Storage Shed"
            },
            "PXL_20250402_173659465-lobby2.jpg": {
              "row_number": 98,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_173659465-lobby2.jpg",
              "Label": "Entryway"
            },
            "PXL_20250402_173720381.MP~2-front office.jpg": {
              "row_number": 99,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_173720381.MP~2-front office.jpg",
              "Label": "Main Office"
            },
            "PXL_20250402_170536425-hall-front.jpg": {
              "row_number": 100,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170536425-hall-front.jpg",
              "Label": "Front Hallway"
            },
            "PXL_20250402_170917545-floating-office.jpg": {
              "row_number": 101,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170917545-floating-office.jpg",
              "Label": "Floating Office / Viewing Room"
            },
            "PXL_20250402_170500750-breakroom.jpg": {
              "row_number": 102,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170500750-breakroom.jpg",
              "Label": "Break Room"
            },
            "PXL_20250402_170516514-breakroom-kitchen.jpg": {
              "row_number": 103,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170516514-breakroom-kitchen.jpg",
              "Label": "Break Room - Kitchen"
            },
            "PXL_20250402_170551241~2-util-hall.jpg": {
              "row_number": 104,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170551241~2-util-hall.jpg",
              "Label": "Utility Hallway"
            },
            "PXL_20250402_170606092-extra-office.jpg": {
              "row_number": 105,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170606092-extra-office.jpg",
              "Label": "Utility Hallway - Extra Office"
            },
            "PXL_20250402_170631790-utility.jpg": {
              "row_number": 106,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170631790-utility.jpg",
              "Label": "Utility Room"
            },
            "PXL_20250402_170347242~2-viewing-room-d.jpg": {
              "row_number": 107,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170347242~2-viewing-room-d.jpg",
              "Label": "Viewing Room D"
            },
            "PXL_20250402_170327881-hall-bath2.jpg": {
              "row_number": 108,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170327881-hall-bath2.jpg",
              "Label": "Hallway Bathroom"
            },
            "PXL_20250402_170246522-hall-bath.jpg": {
              "row_number": 109,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170246522-hall-bath.jpg",
              "Label": "Hallway Bathroom"
            },
            "PXL_20250402_170215479-hvac.jpg": {
              "row_number": 110,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170215479-hvac.jpg",
              "Label": "Hallway HVAC Room"
            },
            "PXL_20250402_170156280-bu-office.jpg": {
              "row_number": 111,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170156280-bu-office.jpg",
              "Label": "Business Office"
            },
            "PXL_20250402_170038303-viewing-room-c.jpg": {
              "row_number": 112,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170038303-viewing-room-c.jpg",
              "Label": "Viewing Room C"
            },
            "PXL_20250402_170020258-storage-hall.jpg": {
              "row_number": 113,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170020258-storage-hall.jpg",
              "Label": "Viewing Room C"
            },
            "PXL_20250402_165950400-storage-hall.jpg": {
              "row_number": 114,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165950400-storage-hall.jpg",
              "Label": "Storage Hallway"
            },
            "PXL_20250402_165904213-storage--front.jpg": {
              "row_number": 115,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165904213-storage--front.jpg",
              "Label": "Front Storage Room"
            },
            "PXL_20250402_165935401-storage--skuttle.jpg": {
              "row_number": 116,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165935401-storage--skuttle.jpg",
              "Label": "Front Storage Room - Skuttle"
            },
            "PXL_20250402_165855061exec-hall.jpg": {
              "row_number": 117,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165855061exec-hall.jpg",
              "Label": "Rear Hallway"
            },
            "PXL_20250402_165821852-funeral-director.jpg": {
              "row_number": 118,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165821852-funeral-director.jpg",
              "Label": "Funeral Director Office"
            },
            "PXL_20250402_165526893-prep.jpg": {
              "row_number": 120,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165526893-prep.jpg",
              "Label": "Preperation Room"
            },
            "PXL_20250402_165646468-storage.jpg": {
              "row_number": 121,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165646468-storage.jpg",
              "Label": "Rear Storage Room"
            },
            "PXL_20250402_165630211-storage-bath.jpg": {
              "row_number": 122,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165630211-storage-bath.jpg",
              "Label": "Rear Storage Room - Bathroom"
            },
            "PXL_20250402_165711778-exec-bath.jpg": {
              "row_number": 123,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165711778-exec-bath.jpg",
              "Label": "Rear Bathroom"
            },
            "PXL_20250402_165321362-consult-office.jpg": {
              "row_number": 124,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_165321362-consult-office.jpg",
              "Label": "Consultation Office"
            },
            "PXL_20250402_171050349.MP-chapel.jpg": {
              "row_number": 125,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_171050349.MP-chapel.jpg",
              "Label": "Chapel"
            },
            "PXL_20250402_170945217.MP.jpg": {
              "row_number": 126,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_170945217.MP.jpg",
              "Label": "Chapel - Overflow"
            },
            "PXL_20250402_173409567.MP-chapel-bath.jpg": {
              "row_number": 127,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_173409567.MP-chapel-bath.jpg",
              "Label": "Chapel - Bathroom"
            },
            "PXL_20250402_171036822~2-chapel-rear-entry.jpg": {
              "row_number": 128,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250402_171036822~2-chapel-rear-entry.jpg",
              "Label": "Chapel Rear Entry"
            },
            "PXL_20250402_171142904-hvac--behind-chapel.jpg": {
              "row_number": 129,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250402_171142904-hvac--behind-chapel.jpg",
              "Label": "HVAC Behind Chapel"
            },
            "PXL_20250402_171318159-garage.jpg": {
              "row_number": 130,
              "Category": "Building Exterior",
              "ImageName": "PXL_20250402_171318159-garage.jpg",
              "Label": "Garage"
            },
            "PXL_20250402_171543943.jpg": {
              "row_number": 131,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_171543943.jpg",
              "Label": "Stairs to Upstairs"
            },
            "PXL_20250402_171549202-up-landing.jpg": {
              "row_number": 132,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_171549202-up-landing.jpg",
              "Label": "Upstairs Landing"
            },
            "PXL_20250402_171600200-up-landing.jpg": {
              "row_number": 133,
              "Category": "Building Interior",
              "ImageName": "PXL_20250402_171600200-up-landing.jpg",
              "Label": "Upstairs Storage Room"
            },
            "PXL_20250402_171652662-apt.jpg": {
              "row_number": 134,
              "Category": "Residential / Apartment Unit",
              "ImageName": "PXL_20250402_171652662-apt.jpg",
              "Label": "Upstairs Apartment"
            },
            "PXL_20250402_171708898-apt2.jpg": {
              "row_number": 135,
              "Category": "Residential / Apartment Unit",
              "ImageName": "PXL_20250402_171708898-apt2.jpg",
              "Label": "Upstairs Apartment - Kitchen"
            },
            "PXL_20250402_172005664-apt-bath.jpg": {
              "row_number": 136,
              "Category": "Residential / Apartment Unit",
              "ImageName": "PXL_20250402_172005664-apt-bath.jpg",
              "Label": "Upstairs Apartment - Bathroom"
            },
            "PXL_20250402_171744827-apt-bed.jpg": {
              "row_number": 137,
              "Category": "Residential / Apartment Unit",
              "ImageName": "PXL_20250402_171744827-apt-bed.jpg",
              "Label": "Upstairs Apartment - Bedroom"
            },
            "PXL_20250402_171902364.MP-apt-storage.jpg": {
              "row_number": 139,
              "Category": "Residential / Apartment Unit",
              "ImageName": "PXL_20250402_171902364.MP-apt-storage.jpg",
              "Label": "Upstairs Apartment - Storage"
            }
          }
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}