docs/n8n/workflows/QTaS51LTu6CruL4c-Get_Report_Map_by_Section.json
{
  "name": "Get Report Map by Section",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.reportSubFolderIds_maps }}",
            "mode": "id"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        -480
      ],
      "id": "764cb9b4-6239-4142-8f2b-938b1f3cd81d",
      "name": "Get Photo Folder File List",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46d0b98a-c6a6-426a-8325-db0522c310b0",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/jpeg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0e2b3dc0-b579-43cc-8713-3a2129b14c82",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/png",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6503a490-9353-4c62-b203-38b2b41605b1",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Start').item.json.section }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1280,
        -480
      ],
      "id": "c89c8522-43a2-4953-bb6e-6a8a4d83705c",
      "name": "Filter to Photos Only",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6503a490-9353-4c62-b203-38b2b41605b1",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Start').item.json.section }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1472,
        -480
      ],
      "id": "bbbc2be0-eca4-4f0d-803d-860438e5f034",
      "name": "Filter to Section Photo",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "reportSubFolderIds_maps"
            },
            {
              "name": "section"
            }
          ]
        }
      },
      "id": "35d3572f-b99a-40bd-bd0f-adbff718f864",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        848,
        -480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37e958a9-c37c-45bc-979f-9c00f2b80a8d",
              "name": "image",
              "value": "={{ $json.isEmpty() ? {} : $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -480
      ],
      "id": "32fe1d94-6f21-468a-986a-6b86e122b7c9",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Get Photo Folder File List": {
      "main": [
        [
          {
            "node": "Filter to Photos Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to Photos Only": {
      "main": [
        [
          {
            "node": "Filter to Section Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Photo Folder File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to Section Photo": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "reportSubFolderIds_maps": "1nZt78-lpmGcGFLrNJYBddyjzlL8nST4D",
          "section": "zoning"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}