docs/n8n/workflows/tWf4alFUXFqwhvFD-_POST_Subject_Photos_Inputs_json.json
{
  "name": "[POST] Subject Photos - Inputs json",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.fileId }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        208
      ],
      "id": "8d06cd5d-2ab0-4cc0-970b-44b79888450e",
      "name": "Save json file",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "photos-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        208
      ],
      "id": "a6481b3b-341a-45b8-8970-8cc9389af44a",
      "name": "Webhook",
      "webhookId": "796cf022-d401-4ab9-8e65-ea7d47e25d6d"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        192
      ],
      "id": "15987d7e-7945-42bd-80ef-82b6dd7064e8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        208
      ],
      "id": "00cef0d0-8d1a-4009-a4fb-b2334599bc59",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48cd454f-33aa-4bbe-a7b4-15236530a45a",
              "name": "photos",
              "value": "={{ JSON.stringify($json.body.photos, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -192
      ],
      "id": "a80091b3-a23f-48fa-adef-d38d7d909cf8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// This code extracts the array from the 'photos' key.\nreturn $input.first().json.body.photos"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        208
      ],
      "id": "edd67aed-4915-4b8b-ad70-cd2580973586",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save json file": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dougiefreshdesigns.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "4270",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "159.118.76.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "979e4464b7abc52b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "159.118.76.37, 104.23.187.21",
            "x-forwarded-host": "dougiefreshdesigns.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-tkrcr",
            "x-is-trusted": "yes",
            "x-real-ip": "159.118.76.37"
          },
          "params": {},
          "query": {},
          "body": {
            "photos": [
              {
                "image": "PXL_20250822_172054088.jpg",
                "label": "Restroom"
              },
              {
                "image": "PXL_20250822_172142122.jpg",
                "label": "Conference Room"
              },
              {
                "image": "PXL_20250822_163215061.jpg",
                "label": "Excess Land"
              },
              {
                "image": "PXL_20250822_164647504.jpg",
                "label": "Subject Left"
              },
              {
                "image": "PXL_20250822_170028786.jpg",
                "label": "Break Room"
              },
              {
                "image": "PXL_20250822_164948298.MP.jpg",
                "label": "Electrical Disconnect"
              },
              {
                "image": "PXL_20250822_171909686.jpg",
                "label": "Reception Desk"
              },
              {
                "image": "PXL_20250822_163158766.jpg",
                "label": "Improved Yard"
              },
              {
                "image": "PXL_20250822_161507632.jpg",
                "label": "Subject Front"
              },
              {
                "image": "PXL_20250822_164236604.MP.jpg",
                "label": "Storage Room"
              },
              {
                "image": "PXL_20250822_172708303.jpg",
                "label": "Break Room"
              },
              {
                "image": "PXL_20250822_161153227.jpg",
                "label": "Street View"
              },
              {
                "image": "PXL_20250822_171937289.jpg",
                "label": "Office"
              },
              {
                "image": "PXL_20250822_172619725.jpg",
                "label": "Office"
              },
              {
                "image": "PXL_20250822_172019408.jpg",
                "label": "Office"
              },
              {
                "image": "PXL_20250822_164227208.MP.jpg",
                "label": "Storage Room"
              },
              {
                "image": "PXL_20250822_164912320.jpg",
                "label": "Repair Shop"
              },
              {
                "image": "PXL_20250822_164706002.jpg",
                "label": "Warehouse"
              },
              {
                "image": "PXL_20250822_164214053.jpg",
                "label": "Repair Shop"
              },
              {
                "image": "PXL_20250822_164714342.jpg",
                "label": "Excess Land"
              },
              {
                "image": "PXL_20250822_170023335.jpg",
                "label": "Utility Hallway"
              },
              {
                "image": "PXL_20250822_171148166.jpg",
                "label": "Subject Front"
              },
              {
                "image": "PXL_20250822_165013796.jpg",
                "label": "Electrical Panel"
              },
              {
                "image": "PXL_20250822_164730741.jpg",
                "label": "Excess Land"
              },
              {
                "image": "PXL_20250822_161329785.jpg",
                "label": "Excess Land"
              },
              {
                "image": "PXL_20250822_172123055.jpg",
                "label": "Hallway Bathroom"
              },
              {
                "image": "PXL_20250822_161212515.jpg",
                "label": "Street View East Entrance"
              },
              {
                "image": "PXL_20250822_172541673.jpg",
                "label": "Office"
              },
              {
                "image": "PXL_20250822_161413918.jpg",
                "label": "Subject Front"
              },
              {
                "image": "PXL_20250822_161518937.jpg",
                "label": "Improved Yard"
              },
              {
                "image": "PXL_20250822_164954483.jpg",
                "label": "Heavy Duty Safety Switch"
              },
              {
                "image": "PXL_20250822_164127205.jpg",
                "label": "Restroom"
              },
              {
                "image": "PXL_20250822_170058830.jpg",
                "label": "Men's Restroom Fixtures Removed"
              },
              {
                "image": "PXL_20250822_172529319.jpg",
                "label": "Storage Room"
              },
              {
                "image": "PXL_20250822_161148350.jpg",
                "label": "Street View"
              },
              {
                "image": "PXL_20250822_164144567.jpg",
                "label": "Maintenance Pit"
              },
              {
                "image": "PXL_20250822_172509324.jpg",
                "label": "Main Hallway"
              },
              {
                "image": "PXL_20250822_171201024.jpg",
                "label": "Subject Front"
              },
              {
                "image": "PXL_20250822_172421452.jpg",
                "label": "Office"
              },
              {
                "image": "PXL_20250822_172503369.jpg",
                "label": "Office"
              },
              {
                "image": "PXL_20250822_172307419.jpg",
                "label": "Stairs to Upstairs"
              },
              {
                "image": "PXL_20250822_163336662.jpg",
                "label": "Repair Shop"
              },
              {
                "image": "PXL_20250822_161314935.jpg",
                "label": "Subject Front and Left"
              },
              {
                "image": "PXL_20250822_161204455.jpg",
                "label": "Main Entrance"
              },
              {
                "image": "PXL_20250822_173753128.jpg",
                "label": "Warehouse Bay Door"
              },
              {
                "image": "PXL_20250822_165820861.jpg",
                "label": "Utility Room"
              },
              {
                "image": "PXL_20250822_161217195.jpg",
                "label": "Excess Land Street View"
              },
              {
                "image": "PXL_20250822_165813524.jpg",
                "label": "Warehouse Restroom"
              },
              {
                "image": "PXL_20250822_164903945.jpg",
                "label": "Repair Shop Interior"
              },
              {
                "image": "PXL_20250822_172557414.jpg",
                "label": "Restroom"
              },
              {
                "image": "PXL_20250822_172406462.jpg",
                "label": "Main Office"
              },
              {
                "image": "PXL_20250822_171922957.jpg",
                "label": "Hallway"
              },
              {
                "image": "PXL_20250822_172117411.jpg",
                "label": "Restroom"
              },
              {
                "image": "PXL_20250822_161246017.jpg",
                "label": "Modular Office"
              },
              {
                "image": "PXL_20250822_165801001.jpg",
                "label": "Storage Room - Bathroom"
              },
              {
                "image": "PXL_20250822_163306437.jpg",
                "label": "Repair Shop Exterior"
              },
              {
                "image": "PXL_20250822_163112958.jpg",
                "label": "Warehouse and Hopper"
              },
              {
                "image": "PXL_20250822_172647397.jpg",
                "label": "Hallway HVAC Room"
              },
              {
                "image": "PXL_20250822_170046346.jpg",
                "label": "Men's Restroom Disconnected Toilet"
              },
              {
                "image": "PXL_20250822_172008653.jpg",
                "label": "Entryway"
              },
              {
                "image": "PXL_20250822_163343803.jpg",
                "label": "Repair Shop Interior"
              },
              {
                "image": "PXL_20250822_164922453.jpg",
                "label": "Repair Shop Interior"
              },
              {
                "image": "PXL_20250822_172317121.jpg",
                "label": "Stairs to Upstairs"
              },
              {
                "image": "PXL_20250822_172358667.jpg",
                "label": "Lobby"
              },
              {
                "image": "PXL_20250822_172204283.jpg",
                "label": "Break Room - Kitchen"
              }
            ],
            "folderId": "1LkTB06z67OIzas4JyAzIChnR_O4pzfzm",
            "fileId": "1rmU59y-47pHmsr394MujgCjPe-8D-NCK"
          },
          "webhookUrl": "https://dougiefreshdesigns.app.n8n.cloud/webhook/796cf022-d401-4ab9-8e65-ea7d47e25d6d",
          "executionMode": "production"
        }
      }
    ]
  },
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}