docs/n8n/workflows/uLMhHA4lmqVDqJ9a-Get_comps_Subfolders_details.json
{
  "name": "Get comps Subfolders details",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folderId }}",
            "mode": "id"
          },
          "whatToSearch": "all",
          "fileTypes": [
            "application/vnd.google-apps.folder"
          ]
        },
        "options": {
          "fields": [
            "name",
            "kind",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1424,
        -272
      ],
      "id": "cf1d7584-e548-4a32-8964-410387c4beb0",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e79f895-0dbe-4132-b028-6d2ff95c6b0a",
              "leftValue": "={{ $json.name }}",
              "rightValue": "unused",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3328ede4-e0c5-465c-abf1-d39cdedd3270",
              "leftValue": "={{ $json.name }}",
              "rightValue": "data",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "510fa157-de71-4456-ae90-e63b023c2ae0",
              "leftValue": "={{ $json.name }}",
              "rightValue": "photos",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1200,
        -272
      ],
      "id": "bb89ad2f-ef1f-499a-a7f4-669e9fa5541f",
      "name": "Filter"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "folderId"
            }
          ]
        }
      },
      "id": "c407096d-fce1-4aa2-9177-59ccd854edd8",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1632,
        -272
      ]
    }
  ],
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "folderId": "1CpTGMNfMICeF0rYq6NzXvy2XXqnFfMuj"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}