docs/n8n/workflows/uwB63Ho5QSpfKMja-Populate_Image_Categorizer.json
{
  "name": "Populate Image Categorizer",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folderID }}",
            "mode": "id"
          },
          "whatToSearch": "all"
        },
        "options": {
          "fields": [
            "id",
            "kind",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1616,
        672
      ],
      "id": "b5d343e4-f903-429c-bc2f-4f4e8d426ba5",
      "name": "Google Drive",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JWTFgqpgxtb3icp3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46d0b98a-c6a6-426a-8325-db0522c310b0",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/json",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1408,
        672
      ],
      "id": "90870941-cc61-402d-9089-b6b53313cbde",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert real estate appraiser's assistant. Your task is to generate a concise, descriptive label for an image of a commercial property. The output must be ONLY a single JSON object with a \"label\" key and a \"image\" key that has the value of the image file name {{ $('Google Drive').item.json.name }}. Do not add any other text or formatting.\n\nNow, analyze the image at the following URL and generate the JSON output for it:\n{{ $('Google Drive').item.json.webViewLink }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -848,
        32
      ],
      "id": "aaed88c1-c5de-4900-8183-b88cb66b6e07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -864,
        240
      ],
      "id": "cfb92f0b-0dc4-4cfc-a199-57debd04f1f2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        640
      ],
      "id": "f83c1cdc-edd6-46d5-8384-2c8205d22afe",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JWTFgqpgxtb3icp3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"image\": \"PXL_20250522_165431296.jpg\",\n    \"label\": \"Exterior Utility Closet (Right)\"\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        240
      ],
      "id": "eb98ed4b-812a-4f62-80b7-6c3cf2e163e5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ JSON.stringify($json.data, null, 2) }}",
        "name": "test.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15kE7BLmLXFeL0JnN-sTuYyqSaIOvybGV",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "51895b97-464e-4498-9ae6-40925d35102a",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JWTFgqpgxtb3icp3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -288,
        32
      ],
      "id": "5da47aa8-a673-451c-b90b-40b2d6191f1c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0116eb-73a1-432c-bf34-64231873d410",
              "name": "image",
              "value": "={{ $json.output.image }}",
              "type": "string"
            },
            {
              "id": "7a403168-74ef-40d5-b59b-2c270602b6c6",
              "name": "label",
              "value": "={{ $json.output.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        32
      ],
      "id": "659b065b-33e9-41a4-894e-cee282e30bf5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "formTitle": "Classifier Inputs",
        "formFields": {
          "values": [
            {
              "fieldLabel": "folderIds",
              "placeholder": "Google Drive Photo Folder IDs comma separated",
              "requiredField": true
            },
            {
              "fieldLabel": "Output Folder",
              "placeholder": "Google Drive Folder ID for output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2176,
        640
      ],
      "id": "f343b5ba-7204-4e00-a4b1-902f50568966",
      "name": "On form submission",
      "webhookId": "db51f9c9-6c86-4617-8313-1d75f6ad028a"
    },
    {
      "parameters": {
        "jsCode": "const folderIdsString = $input.first().json.folderIds\n\n// Split the string into an array of IDs.\n// The .trim() inside map removes any accidental spaces next to the commas.\nconst folderIdsArray = folderIdsString.split(',').map(id => id.trim());\n\n// Return each ID as a separate item for the rest of the workflow to process.\n// Each output item will have a single 'folderID' property.\nreturn folderIdsArray.map(id => ({\n  json: {\n    folderID: id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        672
      ],
      "id": "ef17e79b-2bc8-4e99-aeb8-83bd8143a94a",
      "name": "Transform CSV Input"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -896,
        640
      ],
      "id": "29e91693-ff51-4bae-8e1c-c71874473aba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67b46f05-d49a-428a-9411-4004ac490cbb",
              "name": "Category",
              "value": "",
              "type": "string"
            },
            {
              "id": "768d587d-78ec-4d25-9a38-5647170e3612",
              "name": "ImageName",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "22f7ddcf-633c-49af-ac1c-daaf4f42f98d",
              "name": "Label",
              "value": "={{ $json.label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        640
      ],
      "id": "3785830e-918b-41ac-801e-d58bcc8fedb5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -688,
        640
      ],
      "id": "697c15eb-6b60-43f2-8e83-d738e49317f7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI",
          "mode": "list",
          "cachedResultName": "AI Photo Labeling Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xjks1CL9hkpw35M6E6JYUJhAj7mTqqhmnIg-J55XhMI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ImageName"
          ],
          "schema": [
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ImageName",
              "displayName": "ImageName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Label",
              "displayName": "Label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        640
      ],
      "id": "0c65d31e-acc7-4ff0-82d1-3b2a19be13ae",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Transform CSV Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform CSV Input": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}