docs/dougiefreshdesigns-workflows/0j16zrAvHqBBFPm8-report_data_extract_subject_improvement_analysis.json
{
  "name": "report-data -- extract subject improvement-analysis",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 298481639,
          "mode": "list",
          "cachedResultName": "improvements-ui",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L0ymDuvJ2VyMMDeZ18eLHVa3-BqfSzkTGJRLKC-gheg/edit#gid=298481639"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        -304
      ],
      "id": "ebd02edd-c88e-4ed9-b640-de4eda189b24",
      "name": "Get Report Data - Subject data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            }
          ]
        }
      },
      "id": "d74e7c50-e9c0-464e-a86d-31bf45357f00",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        832,
        -304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1248,
        -304
      ],
      "id": "ab3c79ad-6477-42d0-b4f8-4e9908c40aee",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccfffa9-b9c5-4aad-973b-3a7383233c5f",
              "name": "improvementsString",
              "value": "={{ $json.data.map(row => (`${row.col_1}${row.col_2 ? ': ' : ''}${row.col_2}\\n`)).join('') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -304
      ],
      "id": "20bca325-524d-401c-a4e5-d170fe5e4105",
      "name": "Format improvements"
    }
  ],
  "connections": {
    "Get Report Data - Subject data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Report Data - Subject data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Format improvements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "id": "1L0ymDuvJ2VyMMDeZ18eLHVa3-BqfSzkTGJRLKC-gheg"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}