docs/dougiefreshdesigns-workflows/1MOJii5krlPjpq0l-get_ownership_context_from_deed.json
{
  "name": "get ownership context from deed",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2f9233-8994-4f85-8af7-76c905c1071e",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=deed-{{ $('Start').item.json.subject_rawData_instrumentNumber }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2992,
        -352
      ],
      "id": "d0a27956-c2dd-481d-889c-059298e883f9",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.subjectFolderId }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "name",
            "kind",
            "id",
            "mimeType",
            "webViewLink",
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2816,
        -352
      ],
      "id": "33cd57a7-ddc1-4969-9797-d7c557ca8477",
      "name": "get deed record",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=Provided the following deed record for the subject property, write a quick summary of the document. Include relevant information such as grantor, grantee, consideration details, recording date, etc. Do not include meets and bounds or anything like that. just a quick summary of the document. Only return the summary as a string of text, nothing else \n\nSubject Details\nAddess: {{ $('Start').item.json.subject_address }}\nLegal Description: {{ $('Start').item.json.subject_legalDescription }}\nDeed Record instrument number: {{ $('Start').item.json.subject_rawData_instrumentNumber }} \n",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3376,
        -352
      ],
      "id": "297aca30-03d0-4220-b829-a06bec2ab655",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "Q9BCWK7URXptF8my",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94aeb4cd-4ae8-4487-ba83-d81fe4295b53",
              "name": "ownershipInfo",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3584,
        -352
      ],
      "id": "3d67a353-5040-4b80-8043-2ff6d8325ea2",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "subject_rawData_instrumentNumber",
              "type": "any"
            },
            {
              "name": "subject_legalDescription",
              "type": "any"
            },
            {
              "name": "subject_address",
              "type": "any"
            },
            {
              "name": "reportSection"
            },
            {
              "name": "subjectFolderId"
            }
          ]
        }
      },
      "id": "257b3322-f937-40bb-a498-b36c178a1758",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2336,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "205bedba-c41e-46d1-907c-8025175c8739",
              "leftValue": "={{ $json.reportSection }}",
              "rightValue": "ownership",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7b3e3362-743e-4ae4-bf01-931f50cab063",
              "leftValue": "={{ $json.reportSection }}",
              "rightValue": "subject-site-summary",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ed8d1ab8-ca89-4dda-9ab0-d11e427a4fbf",
              "leftValue": "={{ $json.reportSection }}",
              "rightValue": "highest-best-use",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2576,
        -192
      ],
      "id": "4a5efe74-1f4f-46ea-b296-bf9789172b17",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94aeb4cd-4ae8-4487-ba83-d81fe4295b53",
              "name": "ownershipInfo",
              "value": "N/A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        -112
      ],
      "id": "532ea125-ec61-4418-9c80-25f8b3664d43",
      "name": "Return2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3184,
        -352
      ],
      "id": "8aa2511f-d18a-46ef-b342-591d609bf409",
      "name": "Download Attachment",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "connections": {
    "get deed record": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "get deed record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "subject_address": "210 W 57th St, Odessa, TX 79764",
          "subject_rawData_instrumentNumber": "2005-00010455",
          "subject_legalDescription": "LAKEVIEW W 176.6 OF E 476.6 OF TRACT 42",
          "reportSection": "ownership",
          "subjectFolderId": "1v6qVWin-r3hQlDPrLOtYZMdO-Md8pxxe"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}