docs/dougiefreshdesigns-workflows/i6effpesMXFKBYYb-report_data_extract_subject.json
{
  "name": "report-data -- extract subject",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "propertyType",
              "value": "={{ $json['Property Type Long'] }}",
              "type": "string"
            },
            {
              "id": "924cacca-8877-4f3f-9b1c-fc1a34717f2a",
              "name": "address",
              "value": "={{ $json.AddressLabel }}",
              "type": "string"
            },
            {
              "id": "50dd88d5-174e-4f20-bb5b-da241a43d432",
              "name": "addressLabel",
              "value": "={{ $json.Address }}",
              "type": "string"
            },
            {
              "id": "4c112559-192d-4d89-b475-3b6edc41cfa1",
              "name": "legalDescription",
              "value": "={{ $json.Legal }}",
              "type": "string"
            },
            {
              "id": "a24f1c84-4634-4785-9dc0-b1f660b62675",
              "name": "acres",
              "value": "={{ $json['Land Size (AC)'] }}",
              "type": "string"
            },
            {
              "id": "bccfffa9-b9c5-4aad-973b-3a7383233c5f",
              "name": "rawData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -304
      ],
      "id": "9aafb616-1ac1-4360-aff6-2c9a8c1a55dc",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1375562926,
          "mode": "list",
          "cachedResultName": "subject",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TPIoUhW2p8FD6jA_zPSfrnaJ56tQcosorctsDqAHc-I/edit#gid=1375562926"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Type",
              "lookupValue": "Improvements"
            },
            {
              "lookupColumn": "Type",
              "lookupValue": "Excess Land"
            },
            {
              "lookupColumn": "Type",
              "lookupValue": "Land"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        -304
      ],
      "id": "5ba150b4-0650-47ac-bf68-f4968f240d58",
      "name": "Get Report Data - Subject data",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            }
          ]
        }
      },
      "id": "a6e36c82-ebfb-41ad-b1b4-ae58da34296a",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        832,
        -304
      ]
    }
  ],
  "connections": {
    "Get Report Data - Subject data": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Report Data - Subject data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "id": "1L0ymDuvJ2VyMMDeZ18eLHVa3-BqfSzkTGJRLKC-gheg"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}