docs/dougiefreshdesigns-workflows/QNCLMd4a3ikdxjey-report_data_extract_client.json
{
  "name": "report-data -- extract client",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutGoogleSheets": "",
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1442425557,
          "mode": "list",
          "cachedResultName": "report-inputs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TPIoUhW2p8FD6jA_zPSfrnaJ56tQcosorctsDqAHc-I/edit#gid=1442425557"
        },
        "filtersUI": {},
        "combineFilters": "AND",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "O1:Q3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -992,
        -360
      ],
      "id": "f34f4294-4d1e-4c91-abb5-6a1b859998c6",
      "name": "Get Report Data - Client",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsuwH3yFaxOcf123",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data",
        "include": "allFields",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -768,
        -360
      ],
      "id": "a3a9eaa1-d47a-4538-92a3-0606feded7f6",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "clientName",
              "value": "={{ $json.data.find(item => item.variableName === 'ClientName').value }}",
              "type": "string"
            },
            {
              "id": "1b9cc33b-6601-421e-abfa-ec938e73eeda",
              "name": "clientCompany",
              "value": "={{ $json.data.find(item => item.variableName === 'ClientCompanyName').value }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -352
      ],
      "id": "060b283f-ab64-4b21-a29e-b813bcea388b",
      "name": "Edit Fields2"
    },
    {
      "id": "b7340cc1-6e88-4ac3-b7f0-4ed6e2d7b7f4",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1200,
        -360
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Get Report Data - Client": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Report Data - Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}