docs/dougiefreshdesigns-workflows/riAFXAxXWS7tszk3-Get_Project_Subfolder_Ids.json
{
  "name": "Get Project Subfolder Ids",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.projectFolderId }}",
            "mode": "id"
          },
          "whatToSearch": "all",
          "fileTypes": [
            "application/vnd.google-apps.folder"
          ]
        },
        "options": {
          "fields": [
            "name",
            "kind",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1424,
        -272
      ],
      "id": "8ce3e5c8-4eff-4b82-9573-2b5fd125683b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e79f895-0dbe-4132-b028-6d2ff95c6b0a",
              "leftValue": "={{ $json.name }}",
              "rightValue": "reports",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3328ede4-e0c5-465c-abf1-d39cdedd3270",
              "leftValue": "={{ $json.name }}",
              "rightValue": "subject",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "510fa157-de71-4456-ae90-e63b023c2ae0",
              "leftValue": "={{ $json.name }}",
              "rightValue": "comps",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1200,
        -272
      ],
      "id": "ea248b88-909a-49e3-a7d6-74687948fc18",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -976,
        -272
      ],
      "id": "a54a45f7-7980-4c7b-a15b-f169fd45aff5",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06422e9e-d0c1-43de-98f4-f07c03bec9b6",
              "name": "subject",
              "value": "={{ $json.data.find(item => item.name === 'subject').id }}",
              "type": "string"
            },
            {
              "id": "1b9cc33b-6601-421e-abfa-ec938e73eeda",
              "name": "reports",
              "value": "={{ $json.data.find(item => item.name === 'reports').id }}",
              "type": "string"
            },
            {
              "id": "5bd33647-3988-4525-af3a-744601baff15",
              "name": "comps",
              "value": "={{ $json.data.find(item => item.name === 'comps').id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -272
      ],
      "id": "f01fd9ed-a22d-4f03-b085-6b401635b7c4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8995d12-39a6-414a-8eb5-eb1faff75293",
              "name": "reports",
              "value": "={{ $json.reports }}",
              "type": "string"
            },
            {
              "id": "551c6c9f-d2a8-44af-bd77-fecf5917abf6",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "d7ee0751-4aab-414b-819c-2a4a7ef21e90",
              "name": "comps",
              "value": "={{ $json.comps }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -272
      ],
      "id": "ca2ee127-c30b-4997-a7ad-8e080950ab5e",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "projectFolderId"
            }
          ]
        }
      },
      "id": "f758d7c0-3733-48ba-a6f7-de89187c5e90",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1632,
        -272
      ]
    }
  ],
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "projectFolderId": "1sCYiOv0d09VLQpxI_xa11EIxiabVzUHh"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": null
}