docs/dougiefreshdesigns-workflows/v2SOmavI8aT9OgZY-Get_Content_File_Id.json
{
  "name": "Get Content File Id",
  "nodes": [
    {
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -1136
      ],
      "id": "1b307357-0910-4f49-84eb-bba71124f0d8",
      "name": "Prep Not Found Response",
      "disabled": false,
      "parameters": {
        "mode": "raw",
        "duplicateItem": false,
        "jsonOutput": "{\n  \"content\": null,\n  \"exists\": false,\n  \"status\": \"not_found\"\n}\n",
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutGoogleDrive": "",
        "authentication": "oAuth2",
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "name",
        "queryString": "",
        "returnAll": false,
        "limit": 50,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.reportSubFolderIds_content }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "name",
            "kind",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        -1216
      ],
      "id": "b4efaf4f-c487-4012-84d1-41114fb160b9",
      "name": "Get content files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BtfwXfyWSdKq9vY1",
          "name": "Google Drive account 2"
        }
      },
      "disabled": false,
      "alwaysOutputData": true
    },
    {
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        -1216
      ],
      "id": "bc30d72c-cb95-40f7-b567-5fb54eae5f1d",
      "name": "If",
      "disabled": false,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "686413e8-f2ef-4544-b5e0-dd0b3569bb2e",
              "leftValue": "={{$json }}",
              "rightValue": "false",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      }
    },
    {
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        688,
        -1216
      ],
      "id": "9fecdf05-c58b-4ffe-858b-bfcae135a5b6",
      "name": "Filter",
      "disabled": false,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f2f9233-8994-4f85-8af7-76c905c1071e",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Start').item.json.section }}.md",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "duplicateItem": false,
        "jsonOutput": "={\n  \"content\": null,\n  \"exists\": true,\n  \"contentFileId\": {{ $json.id }}\n}\n",
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -1296
      ],
      "id": "c1dbc520-4ee1-4d2a-b53b-88ea21f2a809",
      "name": "Prep Not Found Response1",
      "disabled": false,
      "issues": {}
    },
    {
      "id": "710a9f05-e0ec-4a5b-99f0-395d09a3e477",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        288,
        -1216
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "reportSubFolderIds_content",
              "type": "any"
            },
            {
              "name": "section",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Get content files": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prep Not Found Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Not Found Response": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get content files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}